<nav class='header'>

</nav>

<div class="profile-container">
    <div class="left-sticker"></div>
    <div class="center-sticker"></div>
    <div class="profile-photo" data-aos="fade-right" data-aos-duration="1000">
        <img [src]="_appService.api.api.imgURL  + member.avatar" alt="">
    </div>
    <div class="right-section">
        <div class="navbar-login logged">

            <div class="login-register" *ngIf="!_appService.roll">
                <div class="lang" (click)="_appService.switchLanguage('en')"
                     *ngIf="_appService.currentLanguage == 'ar'">{{'_Lang'| translate}}</div>
                <div class="lang" (click)="_appService.switchLanguage('ar')"
                     *ngIf="_appService.currentLanguage == 'en'">{{'_Lang'| translate}}</div>
                <div class="rigister" routerLink="/register">{{'_Register'| translate}}</div>
                <div class="login" routerLink="/login">{{'_Login'| translate}}</div>
            </div>
            <div class="login-register" *ngIf="_appService.roll">
                <div class="lang" (click)="_appService.switchLanguage('en')"
                     *ngIf="_appService.currentLanguage == 'ar'">{{'_Lang'| translate}}</div>
                <div class="lang" (click)="_appService.switchLanguage('ar')"
                     *ngIf="_appService.currentLanguage == 'en'">{{'_Lang'| translate}}</div>
                <div class="login" [routerLink]="['/profile' , member_id]">{{'_MyProfile'| translate}}</div>
                <div class="login" (click)="_appService.logout()">{{'_Logout'| translate}}</div>
            </div>
        </div>

        <div class="social-info">
            <div class="info-user">
                <div class="user-name">
                    <div class="full-name">
                        <div class="title">
                            <p>{{member.first_name}} {{member.last_name}}</p>
                            <div>
                            </div>
                        </div>
                    </div>
                    <div class="controls-profile">
                        <div class="edit-profile" routerLink="/profile-info" style="cursor: pointer"
                             *ngIf=" _appService.roll && username === member.username">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <p>{{'_EditProfile' | translate}}</p>
                        </div>
                        <div class="p-clip" (click)="_appService.submitPaper()" style="cursor: pointer;"
                             *ngIf="_appService.roll && username === member.username">
                            <div class="box">
                            </div>
                            <img src="assets/img/paper.png" alt="">
                            <div class="paper"><p>{{'_SubmitAPaper' | translate}}</p></div>
                        </div>
                    </div>
                </div>
                <div class="desc-user">
                    <p>
                        {{member.description}}
                    </p>
                </div>
                <div class="info">
                    <div class="info-item">
                        <div class="info-icon" *ngIf="member.university_name_en">
                            <i class="fa fa-university"></i>
                            <div class="info-data"
                                 *ngIf="_appService.currentLanguage == 'en'">{{member.university_name_en}}</div>
                            <div class="info-data"
                                 *ngIf="_appService.currentLanguage == 'ar'">{{member.university_name_ar}}</div>
                        </div>
                        <div class="info-icon" *ngIf="member.country">
                            <i class="fa fa-map-marker"></i>
                            <div class="info-data" *ngIf="_appService.currentLanguage == 'en'">{{member.country}}</div>
                            <div class="info-data" *ngIf="_appService.currentLanguage == 'ar'">{{member.country}}</div>
                        </div>
                    </div>
                    <div class="info-item">
                        <div class="info-icon" *ngIf="member.domain">
                            <i class="fa fa-suitcase"></i>
                            <div class="info-data">{{member.domain}}</div>
                        </div>
                        <div class="info-icon">
                            <i class="fa fa-eye"></i>
                            <div class="info-data">{{member.views}} {{'_Views' | translate}}</div>
                        </div>
                    </div>
                    <div class="info-item">
                        <div class="info-icon">
                            <i class="fa fa-file-text-o"></i>
                            <div class="info-data">{{member.count_papers}} {{'_ResearchPaper' | translate}}</div>
                        </div>
                        <div class="info-icon" *ngIf="isOneRecognized">
                            <i class="fa fa-trophy"></i>
                            <div class="info-data">1 {{'_RecognizedResearch' | translate}}</div>
                        </div>
                    </div>
                    <div class="info-item social-user" *ngIf="username != member.username || username == ''">
                        <div class="info-icon" style="cursor: pointer">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <div class="info-data"><p><a
                                    [href]="'mailto:' + member.email">{{'_Email' | translate}} {{member.first_name}}</a>
                            </p></div>
                        </div>
                        <div class="info-icon" style="cursor: pointer" *ngIf="member.linkedin">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            <div class="info-data"><a [href]="member.linkedin" target="_blank"><p>{{'_LinkedInAccount' | translate}}</p></a></div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="social">
                <div><i class="fa fa-facebook"></i></div>
                <div><i class="fa fa-instagram"></i></div>
                <div><i class="fa fa-twitter"></i></div>
                <div><i class="fa fa-youtube"></i></div>
            </div>

        </div>


    </div>
</div>


<div class="research-section" data-aos="fade-up" data-aos-duration="100">
    <div class="title-search">
        <div class="research-title" *ngIf="papers">
            <div class="title">
                <p>{{'_ResearchPapers' | translate}}</p>
                <div>
                </div>
            </div>
        </div>
        <div class="research-search">
            <!--<div class="rsearch">-->
            <div class="navigator">
                <div class="nav-block">
                    <!-- navbar only -->
                    <!-- invoke the collapsed menu button for smallviewports -->
                    <label for="show-menu" class="show-menu"><span class="grow">&nbsp;&nbsp;<i class="fas fa-bars">&nbsp;&darr;&nbsp;</i></span></label>

                    <input type="checkbox" id="show-menu" role="button">
                    <div id="menu">
                        <div class="drop-list" dropdown>
                            <a dropdownToggle>{{'_Discipline' | translate}} <span>&#x25BE;</span></a>
                            <div *dropdownMenu role="menu" class="dropdown-menu text-center discipline">
                                <div class="pt-2 pb-2"
                                     (click)="paper.discipline = '' ;  filter()">
                                    <a>{{'_All' | translate}}</a></div>
                                <div class="pt-2 pb-2" *ngFor="let discipline of Disciplines"
                                     (click)="paper.discipline = discipline.discipline_id ;  filter()">
                                    <a>{{discipline.discipline_en}}</a></div>

                            </div>
                        </div>
                        <div class="drop-list" dropdown>
                            <a dropdownToggle>{{'_Country' | translate}}<span>&#x25BE;</span></a>
                            <div *dropdownMenu role="menu" class="dropdown-menu text-center">
                                <div class="pt-2 pb-2" (click)="paper.country  = '' ; filter()">
                                    <a>{{'_All' | translate}}</a></div>
                                <div class="pt-2 pb-2" *ngFor="let county of Counties">
                                    <a *ngIf="_appService.currentLanguage == 'en'"
                                       (click)="paper.country = county.name_en ;  filter()">{{county.name_en}}</a>
                                    <a *ngIf="_appService.currentLanguage == 'ar'"
                                       (click)=" paper.country = county.name_ar ; filter()">{{county.name_ar}}</a>
                                </div>
                            </div>

                        </div>
                        <div class="drop-list" dropdown>
                            <a dropdownToggle>{{'_Language' | translate}} <span>&#x25BE;</span> </a>

                            <div *dropdownMenu role="menu" class="dropdown-menu text-center">
                                <div class="pt-2 pb-2" (click)="paper.lang = '' ; filter()">
                                    <a>{{'_All' | translate}}</a></div>
                                <div class="pt-2 pb-2" (click)="paper.lang = '1' ; filter()">
                                    <a>{{'_English' | translate}}</a></div>
                                <div class="pt-2 pb-2" (click)="paper.lang = '2' ;  filter()">
                                    <a>{{'_Arabic' | translate}}</a></div>
                            </div>
                        </div>
                        <div class="drop-list" dropdown>
                            <a dropdownToggle>{{'_Year' | translate}}<span>&#x25BE;</span></a>
                            <div *dropdownMenu role="menu" class="dropdown-menu text-center">
                                <div class="pt-2 pb-2" (click)="paper.year = '' ; filter()">
                                    <a>{{'_All' | translate}}</a></div>

                                <div class="pt-2 pb-2" *ngFor="let year of years"
                                     (click)="paper.year = year.year ; filter()"><a>{{year.year}}</a></div>
                            </div>
                        </div>
                    </div>
                </div><!--nav-block-->
            </div>
            <div class="col-lg-12 research-input">
                <div class="row">
                    <div class="input-group" [formGroup]="searchForm">
                        <input type="text" class="form-control" formControlName="search" (keyup.enter)="filter()"
                               placeholder="{{'_Search' | translate}}...">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button" (click)="filter()"><i class="fa fa-search"
                                                                                                    aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>

            <!--</div>-->

        </div>
    </div>
    <div class="papers-tap" *ngIf="_appService.roll && username === member.username">
        <div class="tap" (click)="showUserPapers()">
            <div>
                <img src="assets/img/paper.png" alt="">
                <p>{{'_MyResearchPapers' | translate}}</p>
            </div>
            <div class="line" [style.border]="isMyPaper ? '5px solid #FDD97A' : '0px solid #FDD97A'">
            </div>
        </div>
        <div class="tap" (click)="showBookmarks()">
            <div>
                <i class="fa fa-bookmark" aria-hidden="true"></i>
                <p>Saved Bookmarks</p>
            </div>
            <div class="line" [style.border]="!isMyPaper ? '5px solid #FDD97A' : '0px solid #FDD97A'">
            </div>
        </div>
    </div>
    <div class="cards-items" *ngIf="papers" infinite-scroll dir="auto"
         [infiniteScrollDistance]="scrollDistance"
         [infiniteScrollUpDistance]="scrollUpDistance"
         [infiniteScrollThrottle]="throttle"
         (scrolled)="loadmore()">
        <div class="c-item" *ngFor="let paper of papers; let i = index" [id]="paper.paper_id"
             [style.direction]="paper.language == 1 ?  'ltr' :  'rtl'"
             data-aos="fade-up" [attr.data-aos-delay]="(i % 9) * 100" data-aos-duration="1000">
            <div class="bookmark" style="cursor: pointer"
                 [style.float]="paper.language == 1 ?  'right' :  'left'">
                <img src="assets/img/Save-Bookmark.png" (click)="savePaper(paper.paper_id)" *ngIf="paper.saved == 0 "
                     alt="Save paper">
                <img src="assets/img/Saved-Bookmark.png" (click)="unsavePaper(paper.paper_id)" *ngIf="paper.saved == 1"
                     alt="Unsave Paper">
            </div>
            <div class="items-container">
                <div class="item-header">
                    <div class="title" style="cursor: pointer;" (click)="viewPaper(paper)">
                        <h3
                                [style.direction]="paper.language == 1 ?  'ltr' :  'rtl'"
                                [style.text-align]="paper.language == 1 ?  'left' :  'right'"
                        >{{(paper?.title.length > 70) ? (paper?.title | slice:0:70) + '...' : (paper?.title) }}

                        </h3>
                        <div *ngIf="paper.language == 1" [style.margin-right]="'auto'"></div>
                        <div *ngIf="paper.language != 1" [style.margin-left]="'auto'"></div>
                    </div>
                </div>
                <div>
                    <div class="item-body" *ngIf="_appService.currentLanguage == 'ar'">
                        <div class="paper-card-info" style="cursor: pointer"
                             [style.direction]="paper.language == 1 ?  'ltr' :  'rtl'"
                             [routerLink]="['/profile' , paper.member_id]">
                            <h6 class="by" *ngIf="paper.language == 1"  > BY  </h6>
                            <h6 class="by" *ngIf="paper.language == 2">  بواسطة </h6>
                            <h6 style="font-weight: bold ; color: #75cddd;"> {{paper.first_name}} {{paper.last_name}} </h6>
                        </div>
                        <div class="paper-card-info"
                             [style.justify-content]="paper.language == 1 ?  'flex-end' :  'flex-start'"
                        >
                            <i class="fa fa-tag" aria-hidden="true"></i>
                            <h6><span *ngFor="let tag of paper.tags">{{tag.tag_en}} . </span></h6>
                        </div>
                        <div class="paper-card-info"
                             [style.direction]="paper.language == 1 ?  'ltr' :  'rtl'"
                        >
                            <i class="fa fa-calendar-minus-o" aria-hidden="true"></i> <h6>{{paper.date}}</h6>
                        </div>
                        <div class="paper-description" >
                            <p [style.direction]="paper.language == 1 ?  'ltr' :  'rtl'">
                                {{ (paper?.description.length > 200) ? (paper?.description | slice:0:200) + '...' : (paper?.description) }}
                            </p>
                        </div>
                        <div class="view-more" (click)="viewPaper(paper)">
                            <p>{{'_ViewMore' | translate}}</p>
                        </div>
                    </div>
                    <div class="item-body" *ngIf="_appService.currentLanguage == 'en'">
                        <div class="paper-card-info" style="cursor: pointer"
                             [style.justify-content]="paper.language == 1 ?  'flex-start' :  'flex-start'"
                             [routerLink]="['/profile' , paper.member_id]">
                            <h6 class="by"> {{'_By' | translate}}  </h6>
                            <h6 style="font-weight: bold ; color: #75cddd;"> {{paper.first_name}} {{paper.last_name}} </h6>
                        </div>
                        <div class="paper-card-info"
                             [style.justify-content]="paper.language == 1 ?  'flex-start' :  'flex-start'"
                        >
                            <i class="fa fa-tag" aria-hidden="true"></i>
                            <h6><span *ngFor="let tag of paper.tags">{{tag.tag_en}} . </span></h6>
                        </div>
                        <div class="paper-card-info"
                             [style.justify-content]="paper.language == 1 ?  'flex-start' :  'flex-start'"
                        >
                            <i class="fa fa-calendar-minus-o" aria-hidden="true"></i> <h6>{{paper.date}}</h6>
                        </div>
                        <div class="paper-description">
                            <p [style.direction]="paper.language == 1 ?  'ltr' :  'rtl'">
                                {{ (paper?.description.length > 200) ? (paper?.description | slice:0:200) + '...' : (paper?.description) }}
                            </p>
                        </div>
                        <div class="view-more" (click)="viewPaper(paper)">
                            <p>{{'_ViewMore' | translate}}</p>
                        </div>
                    </div>
                    <div class="item-footer">
                        <div class="view-download" [style.direction]="_appService.currentLanguage == 'en' ?  'ltr' :  'rtl'">

                            <div class="views-paper">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <h6>{{paper.views}} {{'_Views' | translate}}</h6>
                            </div>
                            <div class="download-paper" style="cursor: pointer" (click)="download(paper)">
                                <i class="fa fa-download" aria-hidden="true"></i>  <h6>{{'_Download' | translate}}</h6>
                            </div>
                            <div class="edit-paper" style="cursor: pointer"
                                 [routerLink]="['/edit-paper' , paper.paper_id]"
                                 *ngIf="paper.username == username">
                                <i class="fa fa fa-pencil-square-o"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-item" *ngIf="papers.length % 3 == 2" [style.opacity]="0" [style.border]="'none'"></div>
    </div>

</div>
