h1 {
    color: rgb(85, 57, 130);
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    color: #1b2850;
}


h1, h2, h3, h4, h5, h6, p {
    color: #1b2850;
}


/*navBar*/
.nav-collapsed {
    height: 100%;
    color: #fff;
    display: flex;
    width: 100%;
    background-color: #1b2850;
    position: absolute;
    z-index: 500;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
}

.navbar i {
    font-size: 51px;
    color: #fff;
    border: 30px;
    text-align: center;
    border-radius: unset;
    line-height: inherit;
    margin-top: -3px;
    width: 115px;
    height: 105px;

}


#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
    background: #1b2850;
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
    background: #1b2850;
}

/* end navbar*/


.header {
    overflow: hidden;
    height: 130px;
    /*box-shadow: 10px 5px 5px #cac6c6;*/
}

.submit button {
    width: 125px;
    height: 50px;
    background-color: #75cddd;
    border: none;
    color: #fff;
    font-size: 24px;
    align-items: right !important;
}

.button-action button {
    width: 175px;
    height: 70px;
    background-color: #75cddd;
    border: none;
    margin-top: 35px;
    color: #fff;
    font-size: 25px;
}


.statistics {
    display: flex;
    justify-content: space-around;
    padding: 0 180px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #1b2850;
    margin-bottom: 20px;
}

.become-researcher .button-action button {
    width: 355px !important;
}

.login-register {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: normal;
    color: #FFF;
    cursor: pointer;
    margin: auto;
    margin: 6px 85px 0 0;
}

.left-section button {
    height: 65px;
    width: 72px;
    background-color: #1b2850;
}

.paper p {
    font-size: 39px;
    font-weight: bold;;
}

.left-section i {
    color: #fff;
    font-size: 25px;
}

.nav-collapsed a {
    font-size: 28px;
    font-weight: 700;
    margin: 14px 0;
    color: #fff;
    cursor: pointer;
}

.navbar {
    height: 100%;
    width: 90px;
    background-color: #1b2850;
    margin: 0 !important;
    border-radius: 0;
}

#nav-toggle {
    cursor: pointer;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-login {
    display: flex;
    direction: rtl
}

.logo-left {
    float: left;
    padding: 31px 80px;
}

.logo-right {
    float: right;
    padding: 31px 80px;
}

.logo-right img {
    width: 90px;
    cursor: pointer;
}


.logo-left img {
    width: 90px;
}

.right-section {
    color: black;
    width: 50%;
    height: 100%;
}

.left-section {
    width: 50%;
    height: 100%;
    background-size: contain;
    background-image: url("../../../assets/img/library.jpg");
    padding: 219px 75px;
}

.social-paper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 35px 0;
}
.social-paper img {
  width: 180px;
}

.cards-icon {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 160px;
}

.card-icon-research, .card-icon-submit {
    position: relative;
    padding: 50px 65px;
    direction: initial;
  text-align: left;
}

.card-icon-research img {
    /*position: absolute;
    right: 48px;
    bottom: 145px;
    width: 180px;*/
}


.card-icon-submit img {
    /*position: absolute;
    right: 60px;
    bottom: 146px;
    width: 180px;*/
}


.social-paper .title {
    /*margin-top: 69px;*/
}

.box {
    width: 180px;
    height: 180px;
    background-color: #75cddd;
}

   {
    padding: 20px 20px 20px 0px;
    display: flex;
    height: 225px;
    width: 100%;
    justify-content: space-between;
}

.full-section .side {
    width: 50%;
}

/*.research-input {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*}*/

.drop-list {
    display: inline-block;
    float: left;
    margin-right: 0px;
    padding-left: 25px;
    font-size: 20px;
    position: relative;
}

.paper {
    position: relative;
    bottom: -50px;
    color: #1b2850;
}


.contact h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0 10px;
    text-align: left;
    color: #1b2850;
}

.heat-map .map {
    display: flex;
    color: #1b2850;
    flex-direction: column;
    padding: 0px 200px;
}


.blue-line {
    border: 13px solid #75cddd;
    background-color: #75cddd;
    width: 165px;
    position: absolute;
    bottom: -15px;
}

.research-section {
    /*margin-bottom: 75px;*/
    /*margin-top: 30px;*/
}


/*home*/

.edit-profile {
    width: 110px;
    height: 75px;
    position: absolute;
    right: 36%;
    top: 30px;
    color: #1B2850;
    text-align: center;
}


.info-user {
    /*padding: 0 140px;*/
}


.desc-user {
    margin: 35px 0;
    font-size: 17px;
}


.social {
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    margin-top: 150px;
    /* position: fixed; */
    z-index: 1;
    right: 0;
}


.title div {
    border: 13px solid #75cddd;
    background-color: #75cddd;
    width: 105px;
}


/*.top-home-login .social i {*/
/*    font-size: 25px;*/
/*    color: #1b2850;*/
/*    margin-bottom: 16px;*/
/*}*/


.top-home-login {
    height: 670px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    background-color: #f1f2f2;
}


.social i {
    font-size: 25px;
    color: #1b2850;
    margin-bottom: 16px;


}

top-home-login .title {
    margin-left: 20px;
    margin-top: 120px;
    font-weight: bold;
    color: #1b2850;
}


.about-content .text-left p {
    font-size: 48px;
}

.about-content div.line, .sec-content div.line, .top-description .line, .statistics .line {
  border: 13px solid #75cddd;
  background-color: #75cddd;
  width: 205px;
}

.full-section .center-sticker {
  height: 100px;
  width: 100px;
  position: absolute;
  background: #1b2850;
  top: 45%;
  left: 47%;
  bottom: 50%;
  right: 50%;
  z-index: 100;
}
.join-ayrp .center-sticker {
   background: #FDD97A;
 }


.card-item .title {
    padding: 35px 128px;
    text-align: left;
}


.card-item p {
    font-size: 25px;
}

app-home .card-item p {
    font-size: 22px;
}

.cards {
    display: flex;
    color: #1b2850;
    justify-content: space-between;
    padding: 25px 20px;
}


.card-item img {
    width: 45%;
}

.become-researcher {
    display: flex;
    flex-direction: column;
    padding: 45px 40px;
    height: auto;
}


.title {
    font-size: 48px;
    font-weight: bold;
    color: #1b2850;
    padding-right: 15px;
}


.full-section .sec-content {
    text-align: left;
    margin-left: 80px;
    margin-top: 70px;
    margin-right: 80px;
}


.about-content .content {
    margin-top: 55px;
}


.content p {
    margin: 0 100px 0 0;
    font-size: 22px;
}


.partners .top-sticker {
    height: 155px;
    width: 50px;
    position: absolute;
    background: #75cddd;
    left: 49%;
    top: 40%;
    z-index: 100;
}


.heat-map {
    height: 835px;
}

.partners .center-sticker {
    height: 100px;
    width: 100px;
    position: absolute;
    background: #1b2850;
    top: 95%;
    left: 75%;
    bottom: 50%;
    right: 50%;
    z-index: 100;
}


.contact .top-sticker {
    height: 155px;
    width: 50px;
    position: absolute;
    background: #FDD97A;
    left: 90%;
    z-index: 100;
}


::ng-deep .frequent-asked-questions {
    margin-top: 35px 0px;
}


.contact .sec-content {
    text-align: left;
    width: 85%;
    margin-left: 40px;
    margin-top: 100px;
    margin-bottom: 70px;
    line-height: 35px;
}
.contact .sec-content.sec-enquiry {
  margin-left: 65px;
}

.full-name .title {
    font-size: 45px;
    font-weight: bold;
    color: #1b2850;
    margin-top: 120px;
    margin-left: 18px;
}


.profile-container .full-name .title {
    font-size: 45px;
    font-weight: bold;
    color: #1b2850;
    margin-top: 0;
    margin-left: 0px;
}

/*.views-paper {
    margin-right: 10px;
    width: 155px;
}*/


.edit-profile i {
    font-size: 30px;
    color: #1b2850;
}

.top-home-login .info-user img {
    width: 215px;
    height: 190px;
    object-fit: cover;
}


.info-item i {
    margin-right: 15px;
    color: #1B2850;
    font-size: 20px;
    width: 20px;
    text-align: center;
}


.info-item {
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-bottom: 20px;
}


.read-more p {
    font-size: 25px;
}

.main-slider {
    margin-top: 55px;
}


.member-name {
    margin-left: 45px;
    margin-top: 40px;
}


.our-members .read-more {
    font-size: 45px;
    font-weight: bold;
    margin-top: 40px;
    color: #1b2850;
    padding-left: 35px;
}


.with-slider .slider-control {
    padding: 0 20px;
    text-align: justify;
    font-size: 25px;
}


.social-contact i {
    color: #75cddd;
    font-size: 25px;
}


.contact .title {
    font-size: 48px;
    font-weight: bold;
    color: #1b2850;
}


.contact .title div {
    border: 13px solid #75cddd;
    background-color: #75cddd;
    width: 115px;
}


.profile-photo {
    width: 50%;
}


.social-info {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}


.our-members .text-left {
    padding-left: 35px;
}


.with-slider .main-slider {
    display: flex;
    align-items: center;
}


.with-slider .left-slide i, .with-slider .right-slide i {
    font-size: 35px;
    color: #75cddd;
    cursor: pointer;
}

/*header*/
/*.header {*/
/*    overflow: hidden;*/
/*    height: 140px;*/.card-item-objective .desc p
/*    box-shadow: 10px 5px 5px #cac6c6;*/
/*}*/


/*login*/

/*.full-section .sec-content {*/
/*    text-align: left;*/
/*    width: 80%;*/
/*    margin-left: 100px;*/
/*    margin-top: 100px;*/
/*}*/

.login {
    /*height: 835px;*/
}


/*register*/
/*register*/
.item-full-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.register {
    height: 835px;
}

.profile-container .info-user img {
    /*position: absolute;*/
    /*width: 45px;*/
    /*right: 186px;*/
    /*top: 168px;*/
}


.nav-block {
    /*display: inline-grid;*/
    text-align: right;
    vertical-align: middle;
    margin: 0 0 0 15%;
}

.info-user {
    /*padding: 0 140px;*/
    margin-left: 75px;
    width: 70%;
}

.paper p {
    font-weight: bold;
    font-size: 18px;
}

.profile-container .center-sticker {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 45%;
    left: 47%;
    bottom: 50%;
    right: 50%;
    z-index: 100;
    background: #FDD97A;
}


.profile-container .left-sticker {
    height: 155px;
    width: 50px;
    position: absolute;
    left: 5%;
    z-index: 100;
    background: #75CDDD;
}


.profile-container .desc-user {
    margin: 35px 0;
    font-size: 17px;
}


.profile-container {
    height: 835px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    background-color: #f1f2f2;
}


.profile-container .profile-photo {
    width: 50%;
}

.profile-container .social-user {
    margin-top: 35px;
}


.profile-container .edit-profile {
    width: 110px;
    height: 75px;
    /*position: absolute;*/
    right: 150px;
    top: 66px;
    color: #1B2850;
    text-align: center;
}


.profile-container .box {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0;
    background-color: #75cddd;
}


.research-section {
    display: flex;
    flex-direction: column;
    padding: 45px 40px;

}


.cards-items .c-item {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    /*border: 1px solid #1b2850;*/
    width: 32.5%;
    margin: 10px 0;
    padding: 10px 35px;
}


.research-search {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: right;
    padding: 20px;
}


.papers-tap {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}


.paper {
    position: absolute;
    top: 230px;
    right: 150px;
    color: #1b2850;
}


.button-action {
    text-align: center
}

.info-item {
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-bottom: 20px;
}

.info-icon {
    width: 50%;
    display: flex;
    justify-content: flex-start;

}


.profile-container i {
    margin-right: 15px;
    color: #1B2850;
    font-size: 20px;
    text-align: center;
    width: 20px;
}


.views-paper, .download-paper {
    /*display: flex;*/
  width: 50%;
  font-size: 12px;
}
.views-paper {float:left; text-align: left}
.download-paper {float:right; text-align: right}


.check-filename i {
    font-size: 40px;
    margin-right: 20px;
    color: #75cddd;
}

.upload-file {
    height: 835px;
}

.check-filename p {
    margin-top: 5px;
    font-size: 20px;

}


.file_name {
    margin: 60px 0;
    height: 55px;
    display: flex;
    background: #fff;
    padding: 10px 20px;
    justify-content: space-between;
}

.login-register div {
    margin-right: 20px;
    font-size: 14px;
}

.clear i {
    font-size: 35px;
}


.paper-file img {

    width: 130px;
}


.permission-radio-button {
    margin: 25px 0;
}


.paper-file {
    margin-bottom: 55px;
}


app-permission-pepar .form-input {
    margin-top: 80px;
}


app-about .full-section .top-sticker {

    background: #FDD97A;
}

.researshers {
    padding: 10px;
}


.researshers .content {
    margin-top: 40px;
}


app-about .card-item .title {
    padding: 35px 45px;
    text-align: left;
}


app-about .cards {
    display: flex;
    justify-content: space-between;
    padding: 50px 265px;
}


.full-section {
    position: relative;
    background: #f1f2f2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 782px;

}


app-about .card-item img {

    width: 250px;
    margin-bottom: 30px;
}


app-about .cards {
    display: flex;
    justify-content: space-between;
    padding: 50px 110px;

}


app-about .card-item.title p {
    font-size: 25px;
}


.members-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.about-content .content {
    margin-top: 55px;
    line-height: 35px;
}


.card-item .title div {
    border: 13px solid #1b2850;
    background-color: #1b2850;
    width: 115px;
}

.social div {
    display: block;
}


.row {
    margin-right: -15px;
    margin-left: -15px;
    width: 25%;
}


.sort-icon {
    width: 35px;
    height: 36px;
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
    font-size: 35px;
    position: relative;
}


.filters {
    display: flex;
    justify-content: flex-end;
    width: 5%;
    color: #1B2850;

}


.filter-icon {
    width: 48px;
    height: 36px;
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
    margin-left: 15px;
    font-size: 25px;
}

.characters {
    display: flex;
    justify-content: space-between;
    width: 55%;
    font-size: 25px;
    color: #75cddd;
}


.characters-filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}


.members-section {
    display: flex;
    flex-direction: column;
    padding: 45px 40px;

}


.research-input {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}


app-papers .top-papers {
    height: 500px;;
    color: #fff;
    /*justify-content: flex-end;*/
    background-image: url("../../../assets/img/library.jpg");
    width: 100%;
    background-color: #f1f2f2;
    background-size: cover;
}


app-papers .statistics {
    display: flex;
    flex-direction: column;
    font-size: 75px;
    margin: 150px 0 0 115px;
    text-align: left;
    padding: 100px 0;
    color: #fff;
}


/*.views-paper {
    margin-right: 10px;
    width: 115px;
}*/


.research-search {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: right;
    padding: 20px;
}


.research-section {
    display: flex;
    flex-direction: column;
    padding: 45px 40px;
}


.upload-paper-form {
    width: 85%;
}


.paper-section {
    margin-bottom: 75px;
    margin-top: 30px;
    overflow: hidden;
    direction: rtl;
}


.edit-profile i {
    font-size: 30px;
    color: #1b2850;
}


.card-item .title div {
    background-color: #1B2850;
    border: 13px solid #1B2850;
}


.accordion:after {
    content: "\f054";
    color: #75cddd;
    font-weight: bold;
    float: inherit;
    margin-left: 15px;
    font-size: 22px;
}


.accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 20px 35px;
    width: 100%;
    border: none;
    border-radius: 15px;
    outline: none;
    transition: 0.4s;
    text-align: left;
    font-size: 22px;
    font-weight: 800;
}


.card img {
    width: 100%;
    object-fit: cover;
    height: 100%;

}


.card .title {
    font-size: 30px;
    font-weight: bold;
    color: #1B2850;
    margin-bottom: 25px;
    width: 90%;
}


.card .title div {
    border: 13px solid #1B2850;
    background-color: #1B2850;
    width: 115px;
}


app-home .card-item .title {
    padding: 35px 106px;
    text-align: left;
}


.submit {
    text-align: center;
    height: 70px;
    margin: 20px 0 10px 0;
    display: flex;

}


.submit button {
    width: 100%;
    height: 100%;
    background-color: #75cddd;
    border: none;
    color: #fff;
    font-size: 35px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.go-login p {
    font-size: 20px;
}


app-upload-paper .submit {

    margin: 0;

}


.custom-file-upload {
    width: 100%;
    height: 100%;
    background-color: #75cddd;
    border: none;
    color: #fff;
    font-size: 30px;
    padding: 8px 0;
    font-weight: normal;

}


.drag-box p {
    padding: 60px;
    font-size: 21px;
    color: #707070;
}


.permissions {
    width: 40%;
}


.paper-permissions {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}


.file-paper .title p {
    font-size: 20px;
}


::ng-deep .mat-radio-label-content {

    /*font-size: 12px !important;*/
}


.contact .form-input {
    padding-right: 65px;
}


.paper-card-info i {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 8px;
    color: #75cddd;
}


.view-download i {
    width: 10px;
    color: #75cddd;
    margin-right: 7px;
    margin-top: 9px;
}


.edit-paper i {
    float: right;
    color: #1B2850;
}

.cards-items .bookmark {
    text-align: right;
    position: relative;
    top: -16px;
    font-size: 35px;
    color: #75CDDD;
    float: right;
    height: 109px;
    width: 6%;

}

.bookmark img {
    height: 100%;
    width: auto;
}


.first-name {
    margin-right: 70px;
}


.footer {
  font-size: 16px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #ececec;
}

.fa-sort-asc {
    position: absolute;
    right: 7px;
    top: -5px;
}

.heat-map {
    display: flex;
    flex-direction: column;
    padding: 45px 40px;
}


.frequent-asked-questions .title {
    padding: 0 40px;
}


.panel {
    margin: 0 35px;
    background-color: #EEF1F1;
    max-height: 0;
    overflow: hidden;
    border: none;
    transition: max-height 0.2s ease-out;
}

.contact {
    margin: 20px 0 !important;
}

.close-dialog {
    cursor: pointer;
}


.card-item-objective {
    /*box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);*/
    padding: 12px 15px;
    border: 1px solid #f1f2f2;
    flex: 0 1 19%;
    width: 20%;
    background-color:#f1f2f2;
}

.card-item-objective .icon {
    text-align: center;
    height: 185px;
  margin-top:15px;
}


.card-item-objective img {
    width: 70%;
}


.card-item-objective .title {
    margin: 20px 0;
    font-size: 22px;
}

.card-item-objective .desc {
    text-align: left
}

.card-item-objective .desc p {
    font-size: 16px;
}

.card-item-objective .headline {
    border: none;
    background-color: #f1f2f2;
}

.card-item-objective .title .line{
    border: 8px solid #75cddd;
    background-color: #75cddd;
    width: 135px;
}

.become-researcher .cards{
    padding: 25px 0;

}


.join-section {
    display: flex;
    flex-direction: column;
    padding: 45px 40px;
    height: 720px;
}


.join-content{
    display: flex;
    justify-content: space-between;
    margin: auto;
}


.join-content .join-left-section {

    width: 50%;
    text-align: center;


}

.join-content .right-section {

    width: 50%;
    padding: 0 95px;

}


.join-content img{
    width: 22%;
}


.join-section .right-section .title {
    font-size: 28px;
    font-weight: bold;
    color: #1b2850;
    margin-top: 50px;
}

.join-section .right-section .title div {
    border: 8px solid #75cddd;
    background-color: #75cddd;
    width: 115px;
}


.join-section .right-section p{

    font-size: 18px;
}



.research-all-around .with-slider .left-slide i, .research-all-around .with-slider .right-slide i {
    font-size: 35px;
    color: #75cddd;
    cursor: pointer;
}


.research-all-around .about-content{
    width: 85%;
}


.research-all-around .main-slider {
    margin-top: 175px;
}

.research-all-around .title {
    font-size: 32px;
    font-weight: bold;
    color: #1b2850;
}

.research-all-around .text-left{
    margin-bottom: 100px;
}

.research-all-around .main-slider {
    margin-top: 30px;
}

app-about .research-all-around  .center-sticker {

    position: absolute;
    background: #1b2850;
    top: -4%;
    left: 47%;
    bottom: 50%;
    right: 50%;
    z-index: 100;
}


.statistics div {
    /*display: flex;*/
    justify-content: center;
    direction: ltr;
}

.by {
    margin-right: 3px;
    margin-left: 3px;
    color: #75cddd;
}


.heat-map .statistics div {
    display: flex;
    flex-direction: column;
}


app-member-details .first-name {
    margin-right: 70px;
}


.read-more .title {
    float: right;
}

.research-search .row {
    height: 9px;
    width: 375px;
}

.top-home-login .login-register {
    color: #FFF;
}

.search-results {
    height: 20rem;
    overflow: scroll;
}

app-members .card {
    flex: 0 1 19%;
    height: 500px;
}

app-members .card .title {
    font-size: 20px;
    font-weight: bold;
    color: #1B2850;
    margin-bottom: 25px;
    width: 90%;
}

app-members .card .title div {
    border: 9px solid #1B2850;
    background-color: #1B2850;
    width: 115px;
}


app-members .card img {
    width: 100%;
    object-fit: cover;
    height: 65%;
    cursor: pointer;
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
}

app-members .card img:hover {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}


.top-home-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}



.home-statistics{
    width: 20%;
    margin-top: 45px;

}

.row-statistics{
    display: flex;
    justify-content: start;
}


.value-statistics div{
    width: 50px;
    height: 50px;
}


.value-statistics p {
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    bottom: -24px;
    right: -10px;
}

.type-statistics{
    margin: 23px 25px 0;
    font-size: 22px;
}


.type-statistics p{
    color: #fff;
}


.top-description {
    font-size: 75px;
    font-weight: bold;
    margin: 150px 0 0 115px;
}

.top-description p {
    margin: 0;
}


.value-statistics{
    margin-bottom: 40px;
    position: relative;
}

.social-section{
    width: 2%;
}


.partners{
    height: 500px;
}


.partners .full-section {
    height: 100%;
}

/*---------------navbar---------------*/
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 87%;
    padding: 0 190px;

}


.nav-links a {
    color: #1b2850;
    font-size: 18px;
    font-weight: bold !important;
    text-decoration: none;

}

.nav-links li {
    list-style: none;
    cursor: pointer;
    margin-right: 20px;
    display: inline-block;
}


.scrolled {
    height: 110px !important;
    line-height: 20px !important;
    font-size: 16px !important;
    z-index: 1000;
    box-shadow: 0px 2px 5px #cac6c6;

}




.scrolled li::after{
    margin-top: 5px !important;
}


.scroll-img img {
    width: 70px !important;
}


.read-more {
    font-size: 45px;
    font-weight: bold;
    margin-top: 64px;
    color: #1b2850;
}


.why-publish {
    padding: 0px;
    flex: 0 1 19%;
    width: 20%;
}

.why-publish .icon {
    text-align: center;
    height: 280px;
  margin-top:0px;
  overflow: hidden;
}


.why-publish img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s ease;
}
.why-publish .icon:hover img {
  transform: scale(1.5);
}

.why-publish .title {

    padding: 0px 15px;
    font-size: 18px;
}

.why-publish .desc {
    text-align: left;
    padding: 0px 15px;
}

.top-home {
    height: 500px;
    color: #fff;
    /*display: flex;*/
    flex-direction: column;
    background-image: url("../../../assets/img/home.jpg");
    background-blend-mode: darken;
    width: 100%;
    background-color: #f1f2f2;
    background-size: cover;
}

.objective-f-text{
    margin: 0 ;
}


.items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 55px 0 0;
    height: 330px;
}

.request button{
    width: 27%;
    height: 100%;
    background-color: #75cddd;
    border: none;
    color: #fff;
    font-size: 25px;
}


.image-upload{
cursor: pointer;
}


.profile-form {
    width: 100%;
    height: auto;

}

.avatar-cropper {
    width: 170px !important;
    height: 170px;
}


.avatar-cropper img {
    width: 100%;
}


.mat-form-field i {
    position: absolute;
    left: -22px;
    top: 7px;
}



.field-item i {
    position: absolute;
    left: -20px;
    top: 10px;
}

.info-user .papers{
    margin-top: 18px;
}
.button-action.about-arab-button, .button-action.join-ayrp-button {
  text-align: left;
  margin-top: 30px;
}
.researchuploadedText {
  margin-top:80px;
  font-size: 24px;
}
