<div class="card" [style.direction]="_appService.currentLanguage === 'en' ?  'ltr' :  'rtl'">

    <div class="text">
        <div class="fab">
            <i class="fa fa-check"></i>
        </div>
        <h3>{{'_RequestActivated' | translate}}</h3>
        <div class="redirect">
            <img class="rotating" src="assets/img/loader.png" alt="">
            <p>{{'_RedirectAfter' | translate}} </p><span> {{counter}} </span>
            <p>{{'_Seconds' | translate}}...</p>
        </div>
        <div class="button-action" routerLink="/home">
            <button>{{'_HomePage' | translate}}</button>
        </div>
    </div>

</div>
