<div class="card">

    <div class="text">
        <div class="fab">
            <i class="fa fa-check"></i>
        </div>
        <h3>Your request has been successfully activated.</h3>
        <div class="redirect">
            <img class="rotating" src="assets/img/loader.png" alt="">
            <p>Redirect to home after </p><span> {{counter}} </span>
            <p>seconds...</p>
        </div>
        <div  class="button-action" routerLink="/home">
            <button>Go to Home</button>
        </div>
    </div>

</div>
