<div class="sec-content" [style.direction]="appService.currentLanguage === 'en' ?  'ltr' :  'rtl'">
    <div class="title">
        <span>
        <p> {{'_UploadCompleted' | translate}}</p> <i class="fa fa-check" aria-hidden="true"></i>
    </span>
        <div></div>
    </div>
    <div class=" form-input">
        <form class="permission-paper" [formGroup]="permissionForm">

            <div class="paper-permissions">
                <div class="file-permissions">
                    <div class="file-paper">
                        <div class="paper-file"><img src="assets/img/paper.png" alt=""></div>
                        <div class="title">
                            <p>{{appService.fileName}}</p>
                            <div></div>
                        </div>
                    </div>
                    <div class="permissions">
                        <mat-radio-group class="permission-radio-group" formControlName="permission" required>
                            <mat-radio-button class="permission-radio-button" value="1">
                                {{'_GivenAccessToAll' | translate}}
                            </mat-radio-button>
                            <mat-radio-button class="permission-radio-button" value="0">
                                {{'_RequestPermission' | translate}}
                            </mat-radio-button>

                        </mat-radio-group>
                    </div>
                </div>
                <div class="conditions">
                    <mat-checkbox formControlName="conditions" value="1" required>
                        {{'_IAcceptThe' | translate}}
                        <a mat-button (click)="openDialog()">
                            {{'_TermsConditions' | translate}}
                        </a>
                    </mat-checkbox>
                </div>
            </div>
            <div class="submit" (click)="sendPaper()">
                <button [disabled]="!permissionForm.valid">{{'_Submit' | translate}}</button>
            </div>
        </form>
    </div>

</div>
