<div class="c-item">
    <div class="bookmark">
        <i class="fa fa-bookmark-o"></i>
    </div>

    <div class="close-desc">
        <div class="title">
            <h3>{{paper.title}}
            </h3>
            <div></div>
        </div>
        <div class="close-dialog" (click)="dialogRef.close()">
            <i class="fa fa-times"></i>
        </div>

    </div>


    <div class="paper-card-info"  >
        <h6 class="by">By</h6>
        <h6 style="font-weight: bold ; color: #75cddd;" >{{paper.first_name}} {{paper.last_name}}</h6>
    </div>
    <div class="paper-card-info">
        <i class="fa fa-tag" aria-hidden="true"></i> <h6>Envirpment . Earth</h6>
    </div>
    <div class="paper-card-info">
        <i class="fa fa-calendar-minus-o" aria-hidden="true"></i> <h6>{{paper.date}}</h6>
    </div>
    <div class="paper-description">
        <p>
            {{paper.description }}
        </p>
    </div>
    <div class="view-download">

        <div class="views-paper">
            <i class="fa fa-eye" aria-hidden="true"></i> <h6>{{paper.views}} {{'_Views' | translate}}</h6>
        </div>
        <div class="download-paper" (click)="download(paper.file , paper.title)">
            <i class="fa fa-download" aria-hidden="true"></i>  <h6>{{'_Download' | translate}}</h6>
        </div>
        <div class="read-more" (click)="viewPaper(paper.file)">
            <div class="title " style="cursor: pointer">
                <p>{{'_ReadMore' | translate}}</p>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>
