h3, h6, p {
    color: #1B2850

}

.paper-description {
    word-break: break-all;
}

.close-desc {
    display: flex;
    justify-content: space-between;
}

.close-dialog {
    width: 45px;
    height: 45px;
    background: #1B2850;
    color: white;
    font-size: 32px;
    text-align: center;
}


.bookmark {
    right: 75px;
    text-align: right;
    position: relative;
    top: -35px;
    font-size: 35px;
    color: #75CDDD;
}

.cards-items h3 {
    margin-top: -35px;
}

.paper-card-info {

    display: flex;
}

.by {
    margin-right: 3px;
    color: #75cddd;
}

.paper-card-info i {
    margin-right: 5px;
    margin-top: 7px;
    color: #75cddd;
}

.cards-items .title div {
    border: 6px solid #1B2850;
}


.title-search {
    display: flex;
    justify-content: space-between;
}

.title div {
    border: 6px solid #1B2850;
    width: 205px;
}


.view-download {
    display: flex;
    margin-top: 33px;
}


.views-paper, .download-paper {
    display: flex;
    margin: auto;
}

.view-download i {
    width: 10px;
    color: #75cddd;
    margin-right: 7px;
    margin-top: 7px;
}

.view-download h6 {
    cursor: pointer;
}

.views-paper {
    width: 115px;
    margin: auto;
}

.read-more {
    width: 100%;
}

.read-more p {
    font-weight: bold;
}

.read-more .title div {
    border: 6px solid #75cddd;
}




@media (max-width: 768px) {
    .c-item {
        width: auto;
    }

    .bookmark {
        right: 46%;
    }

    .close-dialog {
        width: 35px;
        height: 35px;
        background: #1B2850;
        color: white;
        font-size: 24px;
        text-align: center;
    }

    .close-desc h3 {
        font-size: 15px;
        margin: 5px;
    }

    .title div {
        border: 3px solid #1B2850;
        width: 126px;
    }

    .close-desc {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: -25px;
    }

    .paper-card-info:first-child {
        text-align: center;
        justify-content: center;
    }

    .view-download {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .views-paper {
        text-align: center;
        justify-content: center;
    }

    .view-download .read-more {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 15px;
    }
}
