
.sec-img {
    height: 100%;
}


.upload-file img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

::ng-deep .ngx-file-drop__content {
  color: #707070 !important;
  font-size: 21px;
}
::ng-deep .ngx-file-drop__drop-zone {
  border: 0px !important;
}
