
<div *ngIf="_appService.currentLanguage === 'en'">

  <h2 mat-dialog-title>Contribution Terms and Conditions:</h2>
  <mat-dialog-content class="mat-typography">
    <p>This   website   is   managed   by   the   Arab   Youth   Center(herein   after   referred   to   as   ‘AYC).   These   terms   and conditions related to members and contributors constitute a part of the General Terms & Conditions of this website.</p>

    <ul>
      <li>
        The objectives of this website is to provide aplatform     in     which     people     have     theopportunity to  contribute with their researchpapers,     studies,     articles     and     alike     bysubmitting them online to be reviewed by thewebsite management and once its approvedthen   such   contribution   will   be   published   onthe website.
      </li>
      <li>
        The contributor acknowledges and confirmsthat   he/   she   has   the   full   legal   capacity   toestablish an account on this website and toparticipate   in   his/   her   name   without   usingany   nicknames.   Furthermore   he/   she   mustbe above 17 years of age.
      </li>
      <li>
        The   contributor   acknowledges andconfirms that he/ she is the sole owner andthe   author   of   the   material   submitted   to   thewebsite   and   that   he/shall   indemnify   thewebsite management from any claims whichmay   arise   from   any   thirdparty   copyrightinfringement .
      </li>
      <li>
        Each   contributor  must  establish   an   accountin     order     to     have     an     access     to     thecontribution   service;   such   account   must   becompleted   with   all   the   required   informationsuch     as     full     name,     email     address,nationality,   job   title,   organization,   sector,social media accounts etc.
      </li>
      <li>
        Its   permitted   that   each   member   will   haveone   account   only;   multiple   accounts   withdifferent   usernames   or   information   for   thesame member are not accepted and will beconsidered void
      </li>
      <li>
        All   requests   submitted   through   this   websiteare   subject   to   the   terms   and   conditionsmentioned   herein   and   to   any   updates   that may   occur   periodically;   the   user   shouldreview   the   updates   from   time   to   time.   Theuser     should     abide     by     the     terms     andconditions   on   this   page   and   any   otherconditions that  may  appear  on   the   website,and     any     changes     that     may     occurperiodically.
      </li>
      <li>
        In   order   to   participate   as   a   contributor,   theuser of  the   website  should  be   the  same   asthe contributor.
      </li>
      <li>
        The website management is not responsiblefor   any   infringement   of   intellectual   propertyrights and intellectual works of any party.
      </li>
      <li>
        The user is aware that he/she is authorizedto use the website and application, and mustkeep the password and username in a safeplace   and   not   allow   their   use   by   someoneelse.
      </li>
      <li>
        Submissions   are   subject   to   the   approval   ofthe     website     management,     United     ArabEmirates laws as amended from time to timeand   fall   under   the   exclusive   jurisdiction   ofthe courts of the United Arab Emirates.
      </li>
    </ul>

      <p>Terms and conditions may be modified, and it isthe   user’s   responsibility   to   check   for   anyupdates.</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
<div *ngIf="_appService.currentLanguage === 'ar'">

  <h2 mat-dialog-title style="direction: rtl; text-align: right">شروط وأحكام المشاركةوأحكام المشاركةالمشاركة</h2>
  <mat-dialog-content class="mat-typography">
    <p style="direction: rtl; text-align: right">يدير  مركز الشباب العربي ، بدولة الإمارات العربية المتحدة (ويُشار إليه فيما يلي باسم "المركز ") هذا الموقع. وتشكل الشروط والأحكام الواردة أدناه والمتعلقة بالأعضاء والمساهمين جزءًا لا يتجزأ من الشروط والأحكام العامة لهذا الموقع.</p>

    <ul style="text-align: right; direction: rtl">
      <li>
        	يهدف هذا الموقع إلى توفير منصة تمكّن الباحثين من المساهمة بأوراقهم البحثية ومقالتهم ودراساتهم وغيرها، من خلال تقديمها عبر الموقع حيث تقوم إدارة الموقع بمراجعتها ونشرها على الموقع الإلكتروني فور الموافقة عليها.
      </li>
      <li>
        	يقر المساهم بأهليته القانونية الكاملة لإنشاء حساب على هذا الموقع والاشتراك فيه باستخدام اسمه الحقيقي دون أي ألقاب أو أسماء مستعارة، كما يقر بأن عمره يتجاوز 17 عاماً.
      </li>
      <li>
        يقر المساهم بأنه المؤلف والمالك الوحيد للمواد التي قدمها للموقع، وأنه ملزم بتعويض إدارة الموقع عن أي مطالبات قد تنشأ نتيجة لأي خرق لحقوق المؤلف والطبع والنشر التي تمتلكها أي أطراف خارجية.
      </li>
      <li>
        	يتعهد كل مساهم بإنشاء حساب شخصي له حتى يتسنى له الدخول إلى خدمة المساهمة؛ وينبغي أن يستكمل هذا الحساب من خلال تقديم جميع المعلومات المطلوبة مثل الاسم بالكامل، والبريد الإلكتروني، والجنسية، والوظيفة، والمؤسسة التابع لها، والقطاع، والحسابات التابعة له على وسائل التواصل الاجتماعي وغيرها.
      </li>
      <li>
        	يُسمح بإنشاء حساب واحد فقط لكل عضو؛ ولا يُقبل التسجيل بأكثر من حساب بأسماء مستخدم أو معلومات مختلفة للعضو نفسه وإلا ستُعتبر باطلة.
      </li>
      <li>
        	تخضع جميع الطلبات المقدمة من خلال هذا الموقع للشروط والأحكام الواردة في هذا المستند وأي تحديثات دورية تطرأ عليها، ولذا يجب على المستخدم مراجعة التحديثات من وقت لآخر. ينبغي على المستخدم الالتزام بالشروط والأحكام الواردة في هذه الصفحة وأي شروط أخرى قد تُنشر على الموقع الإلكتروني وأي تغييرات قد تطرأ عليها بشكل دوري.
      </li>
      <li>
        	ينبغي أن يحمل مستخدم الموقع نفس اسم المشارك ليتسنى له المشاركة كمساهم.
      </li>
      <li>
        	لا تتحمل إدارة الموقع مسؤولية أي انتهاك لحقوق الملكية الفكرية أو الأعمال الفكرية لأي طرف من الأطراف.
      </li>
      <li>
        	يدرك المستخدم أنه مخوّل لاستخدام الموقع الإلكتروني والتطبيق، وأن عليه الاحتفاظ بكلمة المرور واسم المستخدم في مكان آمن وعدم السماح لشخص آخر باستخدامهما.
      </li>
      <li>
        	تخضع المساهمات المقدمة لموافقة إدارة الموقع الإلكتروني وقوانين دولة الإمارات العربية المتحدة بصيغتها المعدلة من وقت لآخر، كما يقع ضمن اختصاص محاكم دولة الإمارات العربية المتحدة حصراً
      </li>
    </ul>

    <p style="direction: rtl; text-align: right">قد يتم تعديل الشروط والأحكام من وقت لآخر، وتقع على المستخدم مسؤولية التحقق من وجود أي تحديثات.</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>إلغاء</button>
  </mat-dialog-actions>
</div>


