<div class="nav-collapsed" *ngIf="collapsed">
    <a routerLink="/home">{{'_HomePage' | translate}}</a>
    <a routerLink="/papers">{{'_ResearchPapers' | translate}}</a>
    <a routerLink="/about">{{'_AboutUs' | translate}}</a>
    <a routerLink="/home"> {{'_How_Become_Researcher' | translate}}</a>
    <a routerLink="/members">{{'_Our_Members' | translate}}</a>
    <a (click)="_appService.section = 'heatmap'" routerLink="/home">{{'_HeatMap' | translate}}</a>
    <a  (click)="_appService.section = 'partners'" routerLink="/home">{{'_OurPartners' | translate}}</a>
    <a  (click)="_appService.section = 'faq'" routerLink="/home">{{'_FAQs' | translate}}</a>
    <a (click)="_appService.section = 'contactus'" routerLink="/home">{{'_ContactUs' | translate}}</a>
</div>
<div class="full-section login" data-aos-duration="1000">
    <div class="side">
        <div class="sec-img">
            <img src="assets/img/login.jpg" alt="">
        </div>
    </div>
    <div class="side">
        <div class="navbar-login logged">
            <div class="navbar"
                 [style.z-index]="collapsed ? '550' : ''"
                 [style.background-color]="collapsed ? '#fff' : ''">
                <a id="nav-toggle" [ngClass]="collapsed ? 'active' : ''" (click)="collapsed = !collapsed">
                    <span [style.color]="collapsed ? '#1b2850' : ''"></span>
                </a>
            </div>
        </div>
        <div class="sec-content">
            <div class="title">
                <p>{{'_WelcomeBack' | translate}}</p>
                <div></div>
            </div>
            <div class="form-input">
                <form class="example-form" [formGroup]="loginForm"  [dir]="_appService.currentLanguage== 'en' ? 'ltr' :  'rtl'">

                    <div class="item">
                        <mat-form-field class="example-full-width">
                            <input matInput [placeholder]="'_EmailAddress' | translate" formControlName="email" required>
                            <mat-error  *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>

                        </mat-form-field>
                    </div>
                    <div class="item">
                        <mat-form-field>
                            <input matInput placeholder="{{'_EnterPassword' | translate}}" [type]="hide ? 'password' : 'text'"  formControlName="password" required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="password.errors.required">{{'_Required' | translate}}</mat-error>

                        </mat-form-field>
                    </div>

<!--                    <div class="item">-->
<!--                        <mat-form-field class="example-full-width">-->
<!--                            <input matInput [placeholder]="'_Password' | translate" formControlName="password" required>-->
<!--                            <mat-error *ngIf="password.errors.required">{{'_Required' | translate}}</mat-error>-->

<!--                        </mat-form-field>-->
<!--                        <div class="forget-password"><a>{{'_ForgetPassword' | translate}}</a></div>-->
<!--                    </div>-->
                    <div class="submit" (click)="login()">
                        <button [disabled]="!loginForm.valid">{{'_Login' | translate}}</button>
                    </div>
                    <div class="go-login"><p>{{'_DontHaveAnAccount' | translate}}</p><a
                            routerLink="/register">{{'_JoinUs' | translate}}</a></div>
                </form>
            </div>

        </div>
    </div>
</div>
