<nav class='header'>

</nav>
<div class="nav-collapsed" *ngIf="collapsed">
    <a routerLink="/home">{{'_HomePage' | translate}}</a>
    <a routerLink="/papers">{{'_ResearchPapers' | translate}}</a>
    <a href="/about">{{'_AboutUs' | translate}}</a>
    <a (click)="_appService.section = 'becomeResearcher'" routerLink="/home"> {{'_Objectives' | translate}}</a>
    <a routerLink="/members">{{'_Our_Members' | translate}}</a>
    <a (click)="_appService.section = 'heatmap'" routerLink="/home">{{'_HeatMap' | translate}}</a>
    <a (click)="_appService.section = 'partners'" routerLink="/home">{{'_OurPartners' | translate}}</a>
    <a (click)="_appService.section = 'faq'" routerLink="/home">{{'_FAQs' | translate}}</a>
    <a (click)="_appService.section = 'contactus'" routerLink="/home">{{'_ContactUs' | translate}}</a>
</div>

<div class="full-section">
    <div class="top-sticker"></div>
    <div class="center-sticker"></div>
    <div class="side">
        <div class="sec-img">
            <img src="assets/img/about.png">
        </div>
    </div>
    <div class="side">
        <div class="navbar-login logged">
            <div class="navbar"
                 [style.z-index]="collapsed ? '550' : ''"
                 [style.background-color]="collapsed ? '#fff' : ''">
                <a id="nav-toggle" [ngClass]="collapsed ? 'active' : ''" (click)="collapsed = !collapsed">
                    <span [style.color]="collapsed ? '#1b2850' : ''"></span>
                </a>
            </div>
            <div class="login-register" *ngIf="!_appService.roll">
                <div class="lang" (click)="_appService.switchLanguage('en')"
                     *ngIf="_appService.currentLanguage == 'ar'">{{'_Lang'| translate}}</div>
                <div class="lang" (click)="_appService.switchLanguage('ar')"
                     *ngIf="_appService.currentLanguage == 'en'">{{'_Lang'| translate}}</div>
                <div class="rigister" routerLink="/register">{{'_Register'| translate}}</div>
                <div class="login" routerLink="/login">{{'_Login'| translate}}</div>
            </div>
            <div class="login-register" *ngIf="_appService.roll">
                <div class="lang" (click)="_appService.switchLanguage('en')"
                     *ngIf="_appService.currentLanguage == 'ar'">{{'_Lang'| translate}}</div>
                <div class="lang" (click)="_appService.switchLanguage('ar')"
                     *ngIf="_appService.currentLanguage == 'en'">{{'_Lang'| translate}}</div>
                <div class="login" (click)="_appService.logout()">{{'_Logout'| translate}}</div>
            </div>
        </div>

        <div class="sec-content">
            <div class="about-content">
                <h1 class="text-left">
                    <p>{{'_Significance'| translate}}</p>
                    <p>{{'_AYRP'| translate}}</p>
                </h1>
                    <div class="content">
                        <p>{{'_AboutDescription'| translate}}</p>

                    </div>
            </div>
            <div class="social">
                <div><i class="fa fa-facebook"></i></div>
                <div><i class="fa fa-instagram"></i></div>
                <div><i class="fa fa-twitter"></i></div>
                <div><i class="fa fa-youtube"></i></div>
            </div>

        </div>
    </div>
</div>

<div class="become-researcher" id="becomeResearcher" data-aos="fade-up" data-aos-duration="1000">
    <div class="title">
        <p>{{'_Objectives' | translate}}</p>
        <div></div>
    </div>
    <div class="cards">
        <div class="card-item-objective">
            <div class="icon">
                <img src="assets/img/SupportArabYouthResearch.png" alt="">

            </div>
            <div class="title">
                <div class="headline">
                    <p class="objective-f-text">{{'_Support_Arab' | translate}}</p>
                    <p>{{'_Youth_Research' | translate}}</p>
                </div>
                <div class="line"></div>
            </div>
            <div class="desc">
                <p>
                    {{'_SupportDesc' | translate}}
                </p>
            </div>
        </div>
        <div class="card-item-objective">
            <div class="icon">
                <img src="assets/img/Sharepublications.png" alt="">

            </div>
            <div class="title">
                <div class="headline">
                    <p class="objective-f-text">{{'_Share' | translate}}</p>
                    <p>{{'_publications' | translate}}</p>
                </div>
                <div class="line"></div>
            </div>
            <div class="desc">
                <p>
                    {{'_ShareDesc' | translate}}
                </p>
            </div>
        </div>
        <div class="card-item-objective">
            <div class="icon">
                <img src="assets/img/Help.png" alt="">

            </div>
            <div class="title">
                <div class="headline">
                    <p class="objective-f-text">{{'_Help_research' | translate}}</p>
                    <p>{{'_community' | translate}}</p>
                </div>
                <div class="line"></div>
            </div>
            <div class="desc">
                <p>
                    {{'_Help_research_desc' | translate}}
                </p>
            </div>
        </div>
        <div class="card-item-objective">
            <div class="icon">
                <img src="assets/img/Create_research_culture.png" alt="">

            </div>
            <div class="title">
                <div class="headline">
                    <p class="objective-f-text">{{'_Create' | translate}}</p>
                    <p>{{'_ResearchCulture' | translate}}</p>
                </div>
                <div class="line"></div>
            </div>
            <div class="desc">
                <p>
                    {{'_ResearchCultureDesc' | translate}}
                </p>
            </div>
        </div>
        <div class="card-item-objective">
            <div class="icon">
                <img src="assets/img/Establish_digital_library.png" alt="">

            </div>
            <div class="title">
                <div class="headline">
                    <p class="objective-f-text">{{'_Establish' | translate}}</p>
                    <p>{{'_DigitalLibrary' | translate}}</p>
                </div>
                <div class="line"></div>
            </div>
            <div class="desc">
                <p>
                    {{'_EstablishCultureDesc' | translate}}
                </p>
            </div>
        </div>



    </div>
    <div class="button-action" routerLink="/register" *ngIf="!_appService.roll">
        <button>{{'_RegisterMember' | translate}}</button>
    </div>


</div>

<!--<div class="join-section" data-aos="fade-up" data-aos-duration="1000">-->
<!--    <div class="title">-->
<!--        <p> {{'_Why_Join_AYRB'| translate}}</p>-->
<!--        <div></div>-->
<!--    </div>-->
<!--    <div class="join-content">-->
<!--        <div class="join-left-section">-->
<!--            <img src="assets/img/Why_join_AYR.png" alt="">-->
<!--        </div>-->
<!--        <div class="right-section">-->
<!--            <p>{{'_AbourJoinDesc' | translate }}</p>-->
<!--            <div class="title" style="cursor: pointer" routerLink="/login">-->
<!--                <p>{{'_JoinAYRB'| translate}}</p>-->
<!--                <div>-->
<!--                </div>-->
<!--            </div>-->


<!--        </div>-->
<!--    </div>-->


<!--</div>-->


<div class="full-section" data-aos="fade-up" data-aos-duration="1000">
    <div class="left-sticker"></div>
    <div class="center-sticker"></div>
    <div class="side">
        <div class="sec-img">
            <img src="assets/img/about.png">
        </div>
    </div>
    <div class="side">
        <div class="sec-content">
            <div class="about-content">
                <h1 class="text-left">
                    <p>{{'_Why_Join_AYRB' | translate}}</p>
                </h1>

                <div class="content">
                    <p>{{'_AbourJoinDesc' | translate}}</p>
                </div>
                <div>
                    <div class="title read-more">
                        <p style="cursor: pointer" routerLink="/about">{{'_JoinAYRB' | translate}}</p>
                        <div></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="frequent-asked-questions" id="faq">
    <div class="title">
        <p>{{'_FAQs' | translate}}</p>
        <div></div>
    </div>

    <div class="faq">
        <app-faq-slider [faqData]="faqDetails"></app-faq-slider>
    </div>
</div>

