<nav class='header'>

</nav>

<div class="full-section" [style.direction]="_appService.currentLanguage === 'en' ?  'ltr' :  'rtl'" >
    <div class="top-sticker"></div>
    <div class="center-sticker" data-aos="fade-down" data-aos-duration="1000" data-aos-once="true"></div>
    <div class="side" data-aos-duration="1000" data-aos-once="true"
         [attr.data-aos]="_appService.currentLanguage == 'en' ? 'fade-right' : 'fade-left'">
        <div class="sec-img">
            <img src="assets/img/Significance.jpg">
        </div>
    </div>
    <div class="side" data-aos-duration="1000" data-aos-once="true"
         [attr.data-aos]="_appService.currentLanguage == 'en' ? 'fade-left' : 'fade-right'">
        <!--<div class="navbar-login logged">

            <div class="login-register" *ngIf="!_appService.roll">
                <div class="lang" (click)="_appService.switchLanguage('en')"
                     *ngIf="_appService.currentLanguage == 'ar'">{{'_Lang'| translate}}</div>
                <div class="lang" (click)="_appService.switchLanguage('ar')"
                     *ngIf="_appService.currentLanguage == 'en'">{{'_Lang'| translate}}</div>
                <div class="rigister" routerLink="/register">{{'_Register'| translate}}</div>
                <div class="login" routerLink="/login">{{'_Login'| translate}}</div>
            </div>
            <div class="login-register" *ngIf="_appService.roll">
                <div class="lang" (click)="_appService.switchLanguage('en')"
                     *ngIf="_appService.currentLanguage == 'ar'">{{'_Lang'| translate}}</div>
                <div class="lang" (click)="_appService.switchLanguage('ar')"
                     *ngIf="_appService.currentLanguage == 'en'">{{'_Lang'| translate}}</div>
                <div class="login"  [routerLink]="['/profile' , member_id]">{{'_MyProfile'| translate}}</div>
                <div class="login" (click)="_appService.logout()">{{'_Logout'| translate}}</div>
            </div>
        </div>-->

        <div class="sec-content">
            <div class="about-content">
                <h1 class="text-left">
                    <p>{{'_Significance'| translate}} {{'_AYRP'| translate}}</p>
                </h1>
              <div class="line"></div>
                <div class="content">
                    <p>{{'_AboutDescription'| translate}}</p>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="social" [style.direction]="_appService.currentLanguage === 'en' ?  'ltr' :  'rtl'" >
  <div><i class="fa fa-facebook"></i></div>
  <div><i class="fa fa-instagram"></i></div>
  <div><i class="fa fa-twitter"></i></div>
  <div><i class="fa fa-youtube"></i></div>
</div>

<div class="become-researcher" id="becomeResearcher" data-aos="fade-down" data-aos-once="true" [style.direction]="_appService.currentLanguage === 'en' ?  'ltr' :  'rtl'" >
    <div class="title" data-aos="fade-down" data-aos-duration="500" data-aos-once="true" ata-aos-once="true">
        <p>{{'_Objectives' | translate}}</p>
        <div></div>
    </div>
    <div class="cards" data-aos="fade-up" data-aos-duration="500"  data-aos-once="true" >
        <div class="card-item-objective">
            <div class="icon">
                <img src="assets/img/SupportArabYouthResearch.png" alt="">

            </div>
            <div class="title">
                <div class="headline">
                    <p class="objective-f-text">{{'_Support_Arab' | translate}}</p>
                    <p>{{'_Youth_Research' | translate}}</p>
                </div>
                <div class="line"></div>
            </div>
            <div class="desc">
                <p>
                    {{'_SupportDesc' | translate}}
                </p>
            </div>
        </div>
        <div class="card-item-objective">
            <div class="icon">
                <img src="assets/img/Sharepublications.png" alt="">

            </div>
            <div class="title">
                <div class="headline">
                    <p class="objective-f-text">{{'_Share' | translate}}</p>
                    <p>{{'_publications' | translate}}</p>
                </div>
                <div class="line"></div>
            </div>
            <div class="desc">
                <p>
                    {{'_ShareDesc' | translate}}
                </p>
            </div>
        </div>
        <div class="card-item-objective">
            <div class="icon">
                <img src="assets/img/Help.png" alt="">

            </div>
            <div class="title">
                <div class="headline">
                    <p class="objective-f-text">{{'_Help_research' | translate}}</p>
                    <p>{{'_community' | translate}}</p>
                </div>
                <div class="line"></div>
            </div>
            <div class="desc">
                <p>
                    {{'_Help_research_desc' | translate}}
                </p>
            </div>
        </div>
        <div class="card-item-objective">
            <div class="icon">
                <img src="assets/img/Create_research_culture.png" alt="">

            </div>
            <div class="title">
                <div class="headline">
                    <p class="objective-f-text">{{'_Create' | translate}}</p>
                    <p>{{'_ResearchCulture' | translate}}</p>
                </div>
                <div class="line"></div>
            </div>
            <div class="desc">
                <p>
                    {{'_ResearchCultureDesc' | translate}}
                </p>
            </div>
        </div>
        <div class="card-item-objective">
            <div class="icon">
                <img src="assets/img/Establish_digital_library.png" alt="">

            </div>
            <div class="title">
                <div class="headline">
                    <p class="objective-f-text">{{'_Establish' | translate}}</p>
                    <p>{{'_DigitalLibrary' | translate}}</p>
                </div>
                <div class="line"></div>
            </div>
            <div class="desc">
                <p>
                    {{'_EstablishCultureDesc' | translate}}
                </p>
            </div>
        </div>
    </div>

    <div class="button-action" routerLink="/register" *ngIf="!_appService.roll">
        <button>{{'_RegisterMember' | translate}}</button>
    </div>


</div>

<!--<div class="join-section" data-aos="fade-up" data-aos-duration="1000">-->
<!--    <div class="title">-->
<!--        <p> {{'_Why_Join_AYRB'| translate}}</p>-->
<!--        <div></div>-->
<!--    </div>-->
<!--    <div class="join-content">-->
<!--        <div class="join-left-section">-->
<!--            <img src="assets/img/Why_join_AYR.png" alt="">-->
<!--        </div>-->
<!--        <div class="right-section">-->
<!--            <p>{{'_AbourJoinDesc' | translate }}</p>-->
<!--            <div class="title" style="cursor: pointer" routerLink="/login">-->
<!--                <p>{{'_JoinAYRB'| translate}}</p>-->
<!--                <div>-->
<!--                </div>-->
<!--            </div>-->


<!--        </div>-->
<!--    </div>-->


<!--</div>-->


<div class="full-section" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true" [style.direction]="_appService.currentLanguage === 'en' ?  'ltr' :  'rtl'" >
    <div class="left-sticker"></div>
    <div class="center-sticker"></div>
    <div class="side">
        <div class="sec-img">
            <img src="assets/img/join-ayr.jpg">
        </div>
    </div>
    <div class="side">
        <div class="sec-content">
            <div class="about-content">
                <h1 class="text-left">
                    <p>{{'_Why_Join_AYRB' | translate}}</p>
                </h1>
                <div class="line"></div>
                <div class="content">
                    <p>{{'_AbourJoinDesc' | translate}}</p>
                </div>
                <div *ngIf="!_appService.roll">
                  <div class="button-action join-ayrp-button" routerLink="/register">
                    <button>{{'_JoinAYRB' | translate}}</button>
                  </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!--<div class="frequent-asked-questions" id="faq">-->
<!--    <div class="title">-->
<!--        <p>{{'_FAQs' | translate}}</p>-->
<!--        <div></div>-->
<!--    </div>-->

<!--    <div class="faq">-->
<!--        <app-faq-slider [faqData]="faqDetails"></app-faq-slider>-->
<!--    </div>-->
<!--</div>-->

