

.social div {
    display: block;
}



/*about arab section*/

.full-section .sec-img{
    height: 100%;
}

.full-section .sec-img img {
    width: 100%;
    padding: 0;
    object-fit: cover;
    height: 100%;
}




.img{
    object-fit: cover;
}




