
.social div {
    display: block;
}


/*about arab section*/

.full-section .sec-img {
    height: 100%;
}

.full-section .sec-img img {
    width: 100%;
    padding: 0;
    object-fit: cover;
    height: 100%;
}


.img {
    object-fit: cover;
}

.navbar-login div {
    color: #1b2850;
}

@media (max-width: 768px) {
    .sec-content .content {
        /*height: 300px;*/
        width: 100%;
        overflow: hidden;
    }

    .sec-content .content p {
        width: 100%;
        height: 100%;
        /*overflow-y: scroll;*/
        /*padding-right: 50px;*/
        box-sizing: content-box;
    }

    .logged{
        top: -300px;
    }
}

#faq {
    padding: 5rem 0;
}

.become-researcher{
    overflow: hidden;
}


.social {
    position: fixed;
}

.become-researcher{
    height: auto;
}


.full-section .about-content{
    width: 95%;
}
.button-action button {
  background: #1b2850;
}
.button-action button:hover {
  background: #75cddd;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -ms-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.become-researcher .title { padding:0px;}
.card-item-objective .headline {
  width:100%;
}
