<nav class='header'>

</nav>

<div class="full-section">
    <div class="side">
        <div class="sec-img">
            <img src="assets/img/member1.jpg">
        </div>
    </div>
    <div class="side">
        <div class="navbar-login logged">

            <div class="login-register" *ngIf="!_appService.roll">
                <div class="lang" (click)="_appService.switchLanguage('en')"
                     *ngIf="_appService.currentLanguage == 'ar'">{{'_Lang'| translate}}</div>
                <div class="lang" (click)="_appService.switchLanguage('ar')"
                     *ngIf="_appService.currentLanguage == 'en'">{{'_Lang'| translate}}</div>
                <div class="rigister" routerLink="/register">{{'_Register'| translate}}</div>
                <div class="login" routerLink="/login">{{'_Login'| translate}}</div>
            </div>
            <div class="login-register" *ngIf="_appService.roll">
                <div class="lang" (click)="_appService.switchLanguage('en')"
                     *ngIf="_appService.currentLanguage == 'ar'">{{'_Lang'| translate}}</div>
                <div class="lang" (click)="_appService.switchLanguage('ar')"
                     *ngIf="_appService.currentLanguage == 'en'">{{'_Lang'| translate}}</div>
                <div class="login"  [routerLink]="['/profile' , member_id]">{{'_MyProfile'| translate}}</div>
                <div class="login" (click)="_appService.logout()">{{'_Logout'| translate}}</div>
            </div>
        </div>

        <div class="sec-content">
            <div class="about-content">
                <div class="title">
                    <p>{{'_MeetOurMembers'|translate}}</p>
                    <div></div>
                </div>
                <div class="content">
                    <p>{{'_ResearchersDescription' | translate}}</p>
                </div>

            </div>
            <div class="social">
                <div><i class="fa fa-facebook"></i></div>
                <div><i class="fa fa-instagram"></i></div>
                <div><i class="fa fa-twitter"></i></div>
                <div><i class="fa fa-youtube"></i></div>
            </div>
        </div>
    </div>
</div>

<div class="members-section">
    <div class="characters-filters">
        <div class="characters" *ngIf="_appService.currentLanguage == 'en'">
            <p (click)="member.letter = 'a' ; filter()">A</p>
            <p (click)="member.letter = 'b' ; filter()">B</p>
            <p (click)="member.letter = 'c' ; filter()">C</p>
            <p (click)="member.letter = 'd' ; filter()">D</p>
            <p (click)="member.letter = 'e' ; filter()">E</p>
            <p (click)="member.letter = 'f' ; filter()">F</p>
            <p (click)="member.letter = 'g' ; filter()">G</p>
            <p (click)="member.letter = 'h' ; filter()">H</p>
            <p (click)="member.letter = 'i' ; filter()">I</p>
            <p (click)="member.letter = 'j' ; filter()">J</p>
            <p (click)="member.letter = 'k' ; filter()">K</p>
            <p (click)="member.letter = 'l' ; filter()">L</p>
            <p (click)="member.letter = 'm' ; filter()">M</p>
            <p (click)="member.letter = 'n' ; filter()">N</p>
            <p (click)="member.letter = 'o' ; filter()">O</p>
            <p (click)="member.letter = 'p' ; filter()">P</p>
            <p (click)="member.letter = 'q' ; filter()">Q</p>
            <p (click)="member.letter = 'r' ; filter()">R</p>
            <p (click)="member.letter = 's' ; filter()">S</p>
            <p (click)="member.letter = 't' ; filter()">T</p>
            <p (click)="member.letter = 'u' ; filter()">U</p>
            <p (click)="member.letter = 'v' ; filter()">V</p>
            <p (click)="member.letter = 'w' ; filter()">W</p>
            <p (click)="member.letter = 'x' ; filter()">X</p>
            <p (click)="member.letter = 'y' ; filter()">Y</p>
            <p (click)="member.letter = 'z' ; filter()">Z</p>
            <p (click)="member.letter = '' ; filter()">{{'_All' | translate}}</p>
        </div>
        <div class="characters" *ngIf="_appService.currentLanguage == 'ar'">
            <p (click)="member.letter = 'أ' ; filter()">أ</p>
            <p (click)="member.letter = 'ب' ; filter()">ب</p>
            <p (click)="member.letter = 'ت' ; filter()">ت</p>
            <p (click)="member.letter = 'ث' ; filter()">ث</p>
            <p (click)="member.letter = 'ج' ; filter()">ج</p>
            <p (click)="member.letter = 'ح' ; filter()">ح</p>
            <p (click)="member.letter = 'خ' ; filter()">خ</p>
            <p (click)="member.letter = 'د' ; filter()">د</p>
            <p (click)="member.letter = 'ذ' ; filter()">ذ</p>
            <p (click)="member.letter = 'ر' ; filter()">ر</p>
            <p (click)="member.letter = 'ز' ; filter()">ز</p>
            <p (click)="member.letter = 'س' ; filter()">س</p>
            <p (click)="member.letter = 'ش' ; filter()">ش</p>
            <p (click)="member.letter = 'ص' ; filter()">ص</p>
            <p (click)="member.letter = 'ض' ; filter()">ض</p>
            <p (click)="member.letter = 'ط' ; filter()">ط</p>
            <p (click)="member.letter = 'ظ' ; filter()">ظ</p>
            <p (click)="member.letter = 'ع' ; filter()">ع</p>
            <p (click)="member.letter = 'غ' ; filter()">غ</p>
            <p (click)="member.letter = 'ف' ; filter()">ف</p>
            <p (click)="member.letter = 'ق' ; filter()">ق</p>
            <p (click)="member.letter = 'ك' ; filter()">ك</p>
            <p (click)="member.letter = 'ل' ; filter()">ل</p>
            <p (click)="member.letter = 'م' ; filter()">م</p>
            <p (click)="member.letter = 'ن' ; filter()">ن</p>
            <p (click)="member.letter = 'ه' ; filter()">ه</p>
            <p (click)="member.letter = 'و' ; filter()">و</p>
            <p (click)="member.letter = 'ي' ; filter()">ي</p>
            <p (click)="member.letter = '' ; filter()">{{'_All' | translate}}</p>

        </div>
        <!--        <div class="filters">-->
        <!--            <div class="sort-icon">-->
        <!--                <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="data.sort == 'asc'" (click)="sortMembers('desc')" ></i>-->
        <!--                <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="data.sort == 'desc'" (click)="sortMembers('asc')"></i>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
    <div class="col-lg-12 research-input">
        <div class="row">
            <form class="input-group" [formGroup]="searchForm">
                <input type="text" class="form-control" placeholder="{{'_Search' | translate}}..."
                       formControlName="search" (keyup.enter)="filter()">
                <span class="input-group-btn">
                                <button class="btn btn-default" type="button" (click)="filter()"><i class="fa fa-search"
                                                                                                    aria-hidden="true"></i></button>
                        </span>
            </form>
        </div>
    </div>
    <div class="members-cards" infinite-scroll
         [infiniteScrollDistance]="scrollDistance"
         [infiniteScrollUpDistance]="scrollUpDistance"
         [infiniteScrollThrottle]="throttle"
         (scrolled)="loadmore()">

        <div class="card" *ngFor="let member of members; let i = index" data-aos="fade-up" data-aos-once="true"
             [attr.data-aos-delay]="(i % 9) * 100" data-aos-duration="1000">
            <img [src]="member.avatar?_appService.api.api.imgURL  + member.avatar : 'assets/img/avatar_default.PNG' "
                 alt="" [routerLink]="['/profile' , member.member_id]">
            <div class="title" [routerLink]="['/profile' , member.member_id]" style="cursor: pointer">
                <p>{{member.first_name}} {{member.last_name}}</p>
                <div>
                </div>
            </div>
        </div>
        <ng-container *ngIf="members.length % 5 == 3">
            <div class="card" [style.opacity]="0" [style.border]="'none'"></div>
            <div class="card" [style.opacity]="0" [style.border]="'none'"></div>
        </ng-container>
        <ng-container *ngIf="members.length % 5 == 2">
            <div class="card" [style.opacity]="0" [style.border]="'none'"></div>
            <div class="card" [style.opacity]="0" [style.border]="'none'"></div>
            <div class="card" [style.opacity]="0" [style.border]="'none'"></div>
        </ng-container>
    </div>
</div>
