<div class="nav-collapsed" *ngIf="collapsed">
    <a routerLink="/home">{{'_HomePage' | translate}}</a>
    <a routerLink="/papers">{{'_ResearchPapers' | translate}}</a>
    <a routerLink="/about">{{'_AboutUs' | translate}}</a>
    <a routerLink="/home"> {{'_How_Become_Researcher' | translate}}</a>
    <a href="/members">{{'_Our_Members' | translate}}</a>
    <a (click)="_appService.section = 'heatmap'" routerLink="/home">{{'_HeatMap' | translate}}</a>
    <a  (click)="_appService.section = 'partners'" routerLink="/home">{{'_OurPartners' | translate}}</a>
    <a  (click)="_appService.section = 'faq'" routerLink="/home">{{'_FAQs' | translate}}</a>
    <a (click)="_appService.section = 'contactus'" routerLink="/home">{{'_ContactUs' | translate}}</a>
</div>

<div class="full-section" >
    <div class="side">
        <div class="sec-img">
            <img src="assets/img/member1.jpg">
        </div>
    </div>
    <div class="side">
        <div class="navbar-login logged">
            <div class="navbar"
                 [style.z-index]="collapsed ? '550' : ''"
                 [style.background-color]="collapsed ? '#fff' : ''">
                <a id="nav-toggle" [ngClass]="collapsed ? 'active' : ''" (click)="collapsed = !collapsed">
                    <span [style.color]="collapsed ? '#1b2850' : ''"></span>
                </a>
            </div>
            <div class="login-register" *ngIf="!_appService.roll">
                <div class="lang" (click)="_appService.switchLanguage('en')" *ngIf="_appService.currentLanguage == 'ar'">{{'_Lang'| translate}}</div>
                <div class="lang" (click)="_appService.switchLanguage('ar')" *ngIf="_appService.currentLanguage == 'en'">{{'_Lang'| translate}}</div>
                <div class="rigister" routerLink="/register">{{'_Register'| translate}}</div>
                <div class="login" routerLink="/login">{{'_Login'| translate}}</div>
            </div>
            <div class="login-register"  *ngIf="_appService.roll">
                <div class="lang" (click)="_appService.switchLanguage('en')" *ngIf="_appService.currentLanguage == 'ar'">{{'_Lang'| translate}}</div>
                <div class="lang" (click)="_appService.switchLanguage('ar')" *ngIf="_appService.currentLanguage == 'en'">{{'_Lang'| translate}}</div>
                <div class="login" (click)="_appService.logout()">{{'_Logout'| translate}}</div>
            </div>
        </div>

        <div class="sec-content">
            <div class="about-content">
                <div class="title">
                    <p>{{'_MeetOurMembers'|translate}}</p>
                    <div></div>
                </div>
                <div class="content">
                    <p>{{'_ResearchersDescription' | translate}}</p>
                </div>

            </div>
            <div class="social">
                <div><i class="fa fa-facebook"></i></div>
                <div><i class="fa fa-instagram"></i></div>
                <div><i class="fa fa-twitter"></i></div>
                <div><i class="fa fa-youtube"></i></div>
            </div>
        </div>
    </div>
</div>

<div class="members-section">
    <div class="characters-filters">
        <div class="characters">
            <p (click)="member.letter = 'a' ; filter()">A</p>
            <p (click)="member.letter = 'b' ; filter()">B</p>
            <p (click)="member.letter = 'c' ; filter()">C</p>
            <p (click)="member.letter = 'd' ; filter()">D</p>
            <p (click)="member.letter = 'e' ; filter()">E</p>
            <p (click)="member.letter = 'f' ; filter()">F</p>
            <p (click)="member.letter = 'g' ; filter()">G</p>
            <p (click)="member.letter = 'h' ; filter()">H</p>
            <p (click)="member.letter = 'i' ; filter()">I</p>
            <p (click)="member.letter = 'j' ; filter()">J</p>
            <p (click)="member.letter = 'k' ; filter()">K</p>
            <p (click)="member.letter = 'l' ; filter()">L</p>
            <p (click)="member.letter = 'm' ; filter()">M</p>
            <p (click)="member.letter = 'n' ; filter()">N</p>
            <p (click)="member.letter = 'o' ; filter()">O</p>
            <p (click)="member.letter = 'p' ; filter()">P</p>
            <p (click)="member.letter = 'q' ; filter()">Q</p>
            <p (click)="member.letter = 'r' ; filter()">R</p>
            <p (click)="member.letter = 's' ; filter()">S</p>
            <p (click)="member.letter = 't' ; filter()">T</p>
            <p (click)="member.letter = 'u' ; filter()">U</p>
            <p (click)="member.letter = 'v' ; filter()">V</p>
            <p (click)="member.letter = 'w' ; filter()">W</p>
            <p (click)="member.letter = 'x' ; filter()">X</p>
            <p (click)="member.letter = 'y' ; filter()">Y</p>
            <p (click)="member.letter = 'z' ; filter()">Z</p>
        </div>
        <div class="filters">
            <div class="sort-icon">
                <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="data.sort == 'asc'" (click)="sortMembers('desc')" ></i>
                <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="data.sort == 'desc'" (click)="sortMembers('asc')"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-12 research-input">
        <div class="row">
            <form class="input-group" [formGroup]="searchForm" >
                <input type="text" class="form-control" placeholder="{{'_Search' | translate}}..." formControlName="search" (keyup.enter)="filter()">
                <span class="input-group-btn">
                                <button class="btn btn-default" type="button" (click)="filter()"><i class="fa fa-search"
                                                                                 aria-hidden="true" ></i></button>
                        </span>
            </form>
        </div>
    </div>
    <div class="members-cards">
        <div class="card" *ngFor="let member of members">
            <img [src]="_appService.api.api.imgURL  + member.avatar" alt="">
            <div class="title" [routerLink]="['/profile' , member.username]" style="cursor: pointer">
                <p>{{member.first_name}} {{member.last_name}}</p>
                <div>
                </div>
            </div>
        </div>

    </div>

    <div class="button-action"  (click)="getMembers()" *ngIf="result?.data.length == 6 && member.letter == '' && member.keyword === ''">
        <button>{{'_ViewMore' | translate}}</button>
    </div>
    <div class="button-action" (click)="searchMemeber()" *ngIf="result?.data.length == 6  && ( member.letter != ''  || member.keyword != '')">
        <button>{{'_ViewMore' | translate}}</button>
    </div>

</div>
