<div class="profile-info">
    <form class="full-section profile-form example-form" [formGroup]="profileForm">
        <div class="info-left-section example-form">
            <div class="avatar">
                <div class="avatar-cropper" [style.width]="'265px'">
                    <img *ngIf="!imageChangedEvent"
                         [src]="croppedImage.base64 ? croppedImage.base64 : 'assets/img/avatar_default.PNG'" alt=""
                         [style.width]="croppedImage.base64 ? '100%' : ''">
                    <div *ngIf="imageChangedEvent">
                        <image-cropper [imageChangedEvent]="imageChangedEvent"
                                       [maintainAspectRatio]="false"
                                       [resizeToWidth]="0"
                                       (imageCropped)="imageCropped($event)"
                                       (imageLoaded)="imageLoaded()"
                                       (loadImageFailed)="loadImageFailed()"
                        ></image-cropper>
                    </div>
                    <div class="image-upload" [style.bottom]="croppedImage.base64 ? '0' : '8px'"
                         [style.right]="croppedImage.base64 ? '0' : '8px'">
                        <input type="file" (change)="fileChangeEvent($event)"/>
                        <label>
                            <img src="assets/img/camera.PNG"/>
                        </label>
                        <!--<input id="file-input" type="file"/>-->
                    </div>
                    <div *ngIf="imageChangedEvent" class="checked" [style.bottom]="croppedImage.base64 ? '0' : '8px'"
                         [style.left]="croppedImage.base64 ? '0' : '8px'">
                        <i class="fa fa-check" (click)="imageChangedEvent = null"></i>
                    </div>
                </div>
            </div>

            <div class="title">
                <p>{{user.first_name}} {{user.last_name}}!</p>
                <div></div>
            </div>
            <div class="personal-info">


                <mat-form-field>
                    <mat-label>{{'_YourUniversity' | translate}}</mat-label>

                    <mat-select formControlName="university"  required>
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let university of universities"  [value]="university.university_id">
                            <span *ngIf="_appService.currentLanguage === 'en'">{{university.name_en}}</span>
                            <span *ngIf="_appService.currentLanguage === 'ar'">{{university.name_en}}</span>
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="university.hasError('required')">{{'_Required' | translate}}</mat-error>
                    <i class="fa fa-university" aria-hidden="true"></i>
                </mat-form-field>
                <div class="field-item">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="{{'_Job' | translate}}" value="" formControlName="job">
                    </mat-form-field>
                    <i class="fa fa-address-book-o" aria-hidden="true"></i>
                </div>

                <div class="field-item">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="{{'_Phone' | translate}}" value="" formControlName="phone">
                    </mat-form-field>
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                </div>

                <div class="field-item">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="{{'_Location' | translate}}" value="" formControlName="location">
                    </mat-form-field>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>

                <div class="field-item">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="{{'_LinkedIn' | translate}}" value="" formControlName="Linkedin">
                    </mat-form-field>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
            </div>
        </div>


        <div class="info-right-section">
            <div class="close-desc">
                <div class="title">
                    <p>{{'_Description' | translate}}</p>
                    <div></div>
                </div>
                <div class="close-dialog" (click)="dialogRef.close()">
                    <i class="fa fa-times"></i>
                </div>

            </div>
            <div>
                <textarea class="textbox-lines" rows="6" #input formControlName="description"  maxlength="500"></textarea>
                <h6>{{input.value?.length || 0}}/500</h6>
            </div>
            <div class="submit" (click)="register()">
                <button [disabled]="!profileForm.valid">{{'_SaveProfileInfo' | translate}}</button>
            </div>

        </div>
    </form>

</div>

