<nav class='header'>

</nav>


<div class="top-home top-papers" [style.direction]="_appService.currentLanguage === 'en' ?  'ltr' :  'rtl'">
    <!--<div class="navbar-login logged">

        <div class="login-register" *ngIf="!_appService.roll">
            <div class="lang" (click)="_appService.switchLanguage('en')"
                 *ngIf="_appService.currentLanguage == 'ar'">{{'_Lang'| translate}}</div>
            <div class="lang" (click)="_appService.switchLanguage('ar')"
                 *ngIf="_appService.currentLanguage == 'en'">{{'_Lang'| translate}}</div>
            <div class="rigister" routerLink="/register">{{'_Register'| translate}}</div>
            <div class="login" routerLink="/login">{{'_Login'| translate}}</div>
        </div>
        <div class="login-register" *ngIf="_appService.roll">
            <div class="lang" (click)="_appService.switchLanguage('en')"
                 *ngIf="_appService.currentLanguage == 'ar'">{{'_Lang'| translate}}</div>
            <div class="lang" (click)="_appService.switchLanguage('ar')"
                 *ngIf="_appService.currentLanguage == 'en'">{{'_Lang'| translate}}</div>
            <div class="login"  [routerLink]="['/profile' , member_id]">{{'_MyProfile'| translate}}</div>
            <div class="login" (click)="_appService.logout()">{{'_Logout'| translate}}</div>
        </div>
    </div>-->

    <div class="social-statistics">
        <div class="statistics">
<!--            <div>-->
<!--                <p>{{'_HomeTo' | translate}} </p><span>{{statistics?.research}} </span>-->
<!--                <p>{{'_ResearchPapersFrom' | translate}} </p> <span>{{statistics?.researchers}} </span>-->
<!--            </div>-->
            <div>
                <p>{{'_FAYRP' | translate}}</p>
<!--                <p>{{'_ResearchersAcross' | translate}} </p>-->
<!--                <span>{{statistics?.discipline}}</span>-->
<!--                <p>{{'_Disciplines' | translate}}</p>-->
              <div class="line"></div>
            </div>
        </div>
        <div class="social">
            <div><i class="fa fa-facebook"></i></div>
            <div><i class="fa fa-instagram"></i></div>
            <div><i class="fa fa-twitter"></i></div>
            <div><i class="fa fa-youtube"></i></div>
        </div>
    </div>
</div>
<div class="research-section" [style.direction]="_appService.currentLanguage === 'en' ?  'ltr' :  'rtl'">
    <div class="title-search" data-aos="fade-down" data-aos-duration="100">
        <div class="research-title">
            <div class="title">
                <p>{{'_ResearchPapers' | translate}}</p>
                <div>
                </div>
            </div>
        </div>
        <div class="research-search" [style.direction]="_appService.currentLanguage === 'en' ?  'ltr' :  'rtl'">
            <!--<div class="rsearch">-->
            <div class="navigator">
                <div class="nav-block">
                    <!-- navbar only -->
                    <!-- invoke the collapsed menu button for smallviewports -->
                    <label for="show-menu" class="show-menu"><span class="grow">&nbsp;&nbsp;<i class="fas fa-bars">&nbsp;&darr;&nbsp;</i></span></label>

                    <input type="checkbox" id="show-menu" role="button">
                    <div id="menu">
                        <!--<div class="drop-list" dropdown>
                            <a dropdownToggle>{{'_Discipline' | translate}} <span>&#x25BE;</span></a>
                            <div *dropdownMenu role="menu" class="dropdown-menu text-center discipline">
                                <div class="pt-2 pb-2"
                                     (click)="paper.discipline = '' ;  filter()">
                                    <a>{{'_All' | translate}}</a></div>
                                <div class="pt-2 pb-2" *ngFor="let discipline of Disciplines"
                                     (click)="paper.discipline = discipline.discipline_id ;  filter()">
                                    <a *ngIf="_appService.currentLanguage == 'ar'">{{discipline.discipline_ar}}</a>
                                    <a *ngIf="_appService.currentLanguage == 'en'">{{discipline.discipline_en}}</a>
                                </div>

                            </div>
                        </div>-->


                      <!--<select *ngIf="_appService.currentLanguage == 'en'" #d (change)="filterByDiscipline(d.value)" class="filterSelectDiscipline" id="resizing_select_Discipline">
                        <option value=""> &nbsp; {{'_Discipline' | translate}} &nbsp; </option>
                        <option  *ngFor="let discipline of Disciplines" [value]="discipline.discipline_id" > &nbsp; {{discipline.discipline_en}} &nbsp; </option>
                      </select>
                      <select *ngIf="_appService.currentLanguage == 'ar'"  #d (change)="filterByDiscipline(d.value)" class="filterSelectDiscipline" id="resizing_select_Discipline1">
                        <option value=""> {{'_Discipline' | translate}}</option>
                        <option  *ngFor="let discipline of Disciplines" [value]="discipline.discipline_id"  > &nbsp; {{discipline.discipline_ar}} &nbsp; </option>
                      </select> <span class="filterByDisciplineDropdown">&#x25BE;</span>

                      <select id="width_tmp_select_Discipline">
                        <option id="width_tmp_option_Discipline"></option>
                      </select>
                      <select id="width_tmp_select_Discipline1">
                        <option id="width_tmp_option_Discipline1"></option>
                      </select>-->


                      <ngx-select-dropdown *ngIf="_appService.currentLanguage == 'en'" (change)="filterByDiscipline($event)" class="filterSelectDiscipline"  [config]="configDiscipline" [options]="Disciplines"></ngx-select-dropdown>
                      <ngx-select-dropdown *ngIf="_appService.currentLanguage == 'ar'" (change)="filterByDiscipline($event)" class="filterSelectDisciplineAr"  [config]="configDisciplineAr" [options]="Disciplines"></ngx-select-dropdown>

                      <!--<div class="drop-list" dropdown>
                          <a dropdownToggle>{{'_Country' | translate}}<span>&#x25BE;</span></a>
                          <div *dropdownMenu role="menu" class="dropdown-menu text-center">
                              <div class="pt-2 pb-2" (click)="paper.country  = '' ; filter()">
                                  <a>{{'_All' | translate}}</a></div>
                              <div class="pt-2 pb-2" *ngFor="let county of Counties">
                                  <a *ngIf="_appService.currentLanguage == 'en'"
                                     (click)="paper.country = county.name_en ;  filter()">{{county.name_en}}</a>
                                  <a *ngIf="_appService.currentLanguage == 'ar'"
                                     (click)=" paper.country = county.name_ar ; filter()">{{county.name_ar}}</a>
                              </div>
                          </div>
                      </div>-->
                      <!--<select *ngIf="_appService.currentLanguage == 'en'" #c (change)="filterByCountry(c.value)" class="filterSelectCountry" id="resizing_select_Country">
                        <option value=""> &nbsp; {{'_Country' | translate}} &nbsp; </option>
                        <option  *ngFor="let county of Counties" [value]="county.country_id" > &nbsp; {{county.name_en}} &nbsp; </option>
                      </select>
                      <select *ngIf="_appService.currentLanguage == 'ar'"  #c (change)="filterByCountry(c.value)" class="filterSelectCountry" id="resizing_select_Country1">
                        <option value=""> {{'_Country' | translate}}</option>
                        <option  *ngFor="let county of Counties" [value]="county.country_id"  > &nbsp; {{county.name_ar}} &nbsp; </option>
                      </select> <span class="filterByCountryDropdown">&#x25BE;</span>

                      <select id="width_tmp_select_Country">
                        <option id="width_tmp_option_Country"></option>
                      </select>
                      <select id="width_tmp_select_Country1">
                        <option id="width_tmp_option_Country1"></option>
                      </select>-->
                      <!--<ng-select class="countryDropdown" [items]="Counties"
                                 bindLabel="name_en"
                                 autofocus
                                 placeholder="Country &#x25BE;"
                                 bindValue="country_id">
                      </ng-select>-->

                      <ngx-select-dropdown *ngIf="_appService.currentLanguage == 'en'" (change)="filterByCountry($event)" class="filterSelectCountry"  [config]="configCountries" [options]="Counties"></ngx-select-dropdown>
                      <ngx-select-dropdown *ngIf="_appService.currentLanguage == 'ar'" (change)="filterByCountry($event)" class="filterSelectCountryAr"  [config]="configCountriesAr" [options]="Counties"></ngx-select-dropdown>

                      <!--<div class="drop-list" dropdown>
                          <a dropdownToggle>{{'_Language' | translate}} <span>&#x25BE;</span> </a>

                          <div *dropdownMenu role="menu" class="dropdown-menu text-center">
                              <div class="pt-2 pb-2" (click)="paper.lang = '' ; filter()">
                                  <a>{{'_All' | translate}}</a></div>
                              <div class="pt-2 pb-2" (click)="paper.lang = '1' ; filter()">
                                  <a>{{'_English' | translate}}</a></div>
                              <div class="pt-2 pb-2" (click)="paper.lang = '2' ;  filter()">
                                  <a>{{'_Arabic' | translate}}</a></div>
                          </div>

                      </div>-->

                      <ngx-select-dropdown *ngIf="_appService.currentLanguage == 'en'" (change)="filterByLanguage($event)" class="filterSelectLanguage"  [config]="configLanguage" [options]="Language"></ngx-select-dropdown>
                      <ngx-select-dropdown *ngIf="_appService.currentLanguage == 'ar'" (change)="filterByLanguage($event)" class="filterSelectLanguageAr"  [config]="configLanguageAr" [options]="LanguageAr"></ngx-select-dropdown>

                      <!--<select #l (change)="filterByLanguage(l.value)" class="filterSelectLanguage" id="resizing_select_Language">
                        <option value=""> &nbsp; {{'_Language' | translate}} &nbsp; </option>
                        <option  value="1" > &nbsp; {{'_English' | translate}} </option>
                        <option  value="2" > &nbsp; {{'_Arabic' | translate}} </option>
                      </select> <span class="filterByLanguageDropdown">&#x25BE;</span>

                      <select id="width_tmp_select_Language">
                        <option id="width_tmp_option_Language"></option>
                      </select>-->
                        <!--<div class="drop-list" dropdown>
                            <a dropdownToggle>{{'_Year' | translate}}<span>&#x25BE;</span></a>
                            <div *dropdownMenu role="menu" class="dropdown-menu text-center">
                                <div class="pt-2 pb-2" (click)="paper.year = '' ; filter()">
                                    <a>{{'_All' | translate}}</a></div>

                                <div class="pt-2 pb-2" *ngFor="let year of years"
                                     (click)="paper.year = year.year ; filter()"><a>{{year.year}}</a></div>
                            </div>
                        </div>-->

                      <ngx-select-dropdown *ngIf="_appService.currentLanguage == 'en'" (change)="filterByYear($event)" class="filterSelectYear"  [config]="configYear" [options]="years"></ngx-select-dropdown>
                      <ngx-select-dropdown *ngIf="_appService.currentLanguage == 'ar'" (change)="filterByYear($event)" class="filterSelectYearAr"  [config]="configYearAr" [options]="years"></ngx-select-dropdown>

                      <!--<select #y (change)="filterByYear(y.value)" class="filterSelectYear" id="resizing_select_Year">
                        <option value=""> &nbsp; {{'_Year' | translate}} &nbsp; </option>
                        <option  *ngFor="let year of years" [value]="year.year"  > &nbsp; {{year.year}} &nbsp; </option>
                      </select> <span class="filterByYearDropdown">&#x25BE;</span>

                      <select id="width_tmp_select_Year">
                        <option id="width_tmp_option_year"></option>
                      </select>-->

                    </div>
                </div><!--nav-block-->
            </div>
            <div class="col-lg-12 research-input">
                <div class="row" >
                    <div class="input-group" [formGroup]="searchForm">
                        <input type="text" class="form-control" formControlName="search" (keyup)="filter()"
                               placeholder="{{'_Search' | translate}}...">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button" (click)="filter()"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>

            <!--</div>-->

        </div>
    </div>
    <div class="cards-items" *ngIf="papers" infinite-scroll dir="auto"
         [infiniteScrollDistance]="scrollDistance"
         [infiniteScrollUpDistance]="scrollUpDistance"
         [infiniteScrollThrottle]="throttle"
         (scrolled)="loadmore()">
        <div class="c-item" *ngFor="let paper of papers; let i = index" [id]="paper.paper_id"
             [style.direction]="paper.language == 1 ?  'ltr' :  'rtl'"
             data-aos="fade-up" [attr.data-aos-delay]="(i % 9) * 100" data-aos-duration="1000"data-aos-once="true">
            <div class="bookmark" style="cursor: pointer"
                 [style.float]="paper.language == 1 ?  'right' :  'left'">
                <img src="assets/img/save-en.png" (click)="savePaper(paper.paper_id)" *ngIf="paper.saved == 0 && _appService.currentLanguage == 'en' && paper.username != username"
                     alt="Save paper">
                <img src="assets/img/saved-en.png" (click)="unsavePaper(paper.paper_id)" *ngIf="paper.saved == 1  && _appService.currentLanguage == 'en' && paper.username != username"
                     alt="Unsave Paper">
              <img src="assets/img/save-ar.png" (click)="savePaper(paper.paper_id)" *ngIf="paper.saved == 0 && _appService.currentLanguage == 'ar' && paper.username != username"
                   alt="Save paper">
              <img src="assets/img/saved-ar.png" (click)="unsavePaper(paper.paper_id)" *ngIf="paper.saved == 1  && _appService.currentLanguage == 'ar' && paper.username != username"
                   alt="Unsave Paper">
              <img src="assets/img/Edit_En_Png.png" [routerLink]="['/edit-paper' , paper.paper_id]" *ngIf="_appService.currentLanguage == 'en' && paper.username == username"
                   alt="Edit Paper">
              <img src="assets/img/Edit_Ar_Png.png" [routerLink]="['/edit-paper' , paper.paper_id]" *ngIf="_appService.currentLanguage == 'ar' && paper.username == username"
                   alt="Edit Paper">
            </div>
            <div class="items-container">
                <div class="item-header">
                    <div class="title" style="cursor: pointer;" (click)="viewPaper(paper)">
                        <h3
                                [style.direction]="paper.language == 1 ?  'ltr' :  'rtl'"
                                [style.text-align]="paper.language == 1 ?  'left' :  'right'"
                        >{{(paper?.title.length > 40) ? (paper?.title | slice:0:40) + '...' : (paper?.title) }}

                        </h3>
                        <div *ngIf="paper.language == 1" [style.margin-right]="'auto'"></div>
                        <div *ngIf="paper.language != 1" [style.margin-left]="'auto'"></div>
                    </div>
                </div>
                <div>
                    <div class="item-body" *ngIf="_appService.currentLanguage == 'ar'">
                        <div class="paper-card-info" style="cursor: pointer"
                             [style.direction]="paper.language == 1 ?  'ltr' :  'rtl'"
                             [routerLink]="['/profile' , paper.member_id]">
                            <h6 class="by" *ngIf="paper.language == 1"  > BY  </h6>
                            <h6 class="by" *ngIf="paper.language == 2">  بواسطة </h6>
                            <h6 style="font-weight: bold ; color: #75cddd;"> {{paper.first_name}} {{paper.last_name}} </h6>
                        </div>
                        <div class="paper-card-info"
                             [style.direction]="paper.language == 1 ?  'ltr' :  'rtl'"
                        >
                            <i class="fa fa-tag" aria-hidden="true"></i>
                          <h6><span *ngFor="let tag of paper.tags; let i = index"><span *ngIf="i>0">, </span> {{tag.tag_en}}  </span></h6>
                        </div>
                        <div class="paper-card-info"
                             [style.direction]="paper.language == 1 ?  'ltr' :  'rtl'"
                        >
                            <i class="fa fa-calendar-minus-o" aria-hidden="true"></i> <h6>{{paper.date}}</h6>
                        </div>
                        <div class="paper-description" >
                            <p [style.direction]="paper.language == 1 ?  'ltr' :  'rtl'">
                                {{ (paper?.description.length > 175) ? (paper?.description | slice:0:175) + '...' : (paper?.description) }}
                            </p>
                        </div>
                      <div class="view-more-button-action" (click)="viewPaper(paper)">
                        <button>{{'_ViewMore' | translate}}</button>
                      </div>
                        <!--<div class="view-more" (click)="viewPaper(paper)">
                            <p>{{'_ViewMore' | translate}}</p>
                        </div>-->
                    </div>
                    <div class="item-body" *ngIf="_appService.currentLanguage == 'en'">
                        <div class="paper-card-info" style="cursor: pointer"
                             [style.justify-content]="paper.language == 1 ?  'flex-start' :  'flex-start'"
                             [routerLink]="['/profile' , paper.member_id]">
                            <h6 class="by"> {{'_By' | translate}}  </h6>
                            <h6 style="font-weight: bold ; color: #75cddd;"> {{paper.first_name}} {{paper.last_name}} </h6>
                        </div>
                        <div class="paper-card-info"
                             [style.justify-content]="paper.language == 1 ?  'flex-start' :  'flex-start'"
                        >
                            <i class="fa fa-tag" aria-hidden="true"></i>
                            <h6><span *ngFor="let tag of paper.tags; let i = index"><span *ngIf="i>0">, </span> {{tag.tag_en}} </span></h6>
                        </div>
                        <div class="paper-card-info"
                             [style.justify-content]="paper.language == 1 ?  'flex-start' :  'flex-start'"
                        >
                            <i class="fa fa-calendar-minus-o" aria-hidden="true"></i> <h6>{{paper.date}}</h6>
                        </div>
                        <div class="paper-description">
                            <p [style.direction]="paper.language == 1 ?  'ltr' :  'rtl'">
                                {{ (paper?.description.length > 175) ? (paper?.description | slice:0:175) + '...' : (paper?.description) }}
                            </p>
                        </div>
                      <div class="view-more-button-action" (click)="viewPaper(paper)">
                        <button>{{'_ViewMore' | translate}}</button>
                      </div>
                        <!--<div class="view-more" (click)="viewPaper(paper)">
                            <p>{{'_ViewMore' | translate}}</p>
                        </div>-->
                    </div>
                    <div class="item-footer">
                        <div class="view-download" [style.direction]="_appService.currentLanguage == 'en' ?  'ltr' :  'rtl'">

                            <div class="views-paper">
                                <i class="fa fa-eye" aria-hidden="true"></i> <span>{{paper.views}} {{'_Views' | translate}}</span>
                            </div>
                            <div class="download-paper" >
                                <i class="fa fa-download" aria-hidden="true"></i>  <span>{{paper.downloads}} {{'_Downloads' | translate}}</span>
                            </div>
                            <!--<div class="edit-paper" style="cursor: pointer"
                                 [routerLink]="['/edit-paper' , paper.paper_id]"
                                 *ngIf="paper.username == username">
                                <i class="fa fa fa-pencil-square-o"></i>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-item" *ngIf="papers.length % 3 == 2" [style.opacity]="0" [style.border]="'none'"></div>
    </div>
</div>
