<nav class='header'>

</nav>


<div class="top-home top-papers">
    <div class="navbar-login logged">

        <div class="login-register" *ngIf="!_appService.roll">
            <div class="lang" (click)="_appService.switchLanguage('en')"
                 *ngIf="_appService.currentLanguage == 'ar'">{{'_Lang'| translate}}</div>
            <div class="lang" (click)="_appService.switchLanguage('ar')"
                 *ngIf="_appService.currentLanguage == 'en'">{{'_Lang'| translate}}</div>
            <div class="rigister" routerLink="/register">{{'_Register'| translate}}</div>
            <div class="login" routerLink="/login">{{'_Login'| translate}}</div>
        </div>
        <div class="login-register" *ngIf="_appService.roll">
            <div class="lang" (click)="_appService.switchLanguage('en')"
                 *ngIf="_appService.currentLanguage == 'ar'">{{'_Lang'| translate}}</div>
            <div class="lang" (click)="_appService.switchLanguage('ar')"
                 *ngIf="_appService.currentLanguage == 'en'">{{'_Lang'| translate}}</div>
            <div class="login"  [routerLink]="['/profile' , member_id]">{{'_MyProfile'| translate}}</div>
            <div class="login" (click)="_appService.logout()">{{'_Logout'| translate}}</div>
        </div>
    </div>

    <div class="social-statistics">
        <div class="statistics">
<!--            <div>-->
<!--                <p>{{'_HomeTo' | translate}} </p><span>{{statistics?.research}} </span>-->
<!--                <p>{{'_ResearchPapersFrom' | translate}} </p> <span>{{statistics?.researchers}} </span>-->
<!--            </div>-->
            <div>
                <p>{{'_FAYRP' | translate}}</p>
<!--                <p>{{'_ResearchersAcross' | translate}} </p>-->
<!--                <span>{{statistics?.discipline}}</span>-->
<!--                <p>{{'_Disciplines' | translate}}</p>-->
            </div>
        </div>
        <div class="social">
            <div><i class="fa fa-facebook"></i></div>
            <div><i class="fa fa-instagram"></i></div>
            <div><i class="fa fa-twitter"></i></div>
            <div><i class="fa fa-youtube"></i></div>
        </div>
    </div>
</div>
<div class="research-section">
    <div class="title-search" data-aos="fade-down" data-aos-duration="100">
        <div class="research-title">
            <div class="title">
                <p>{{'_ResearchPaper' | translate}}</p>
                <div>
                </div>
            </div>
        </div>
        <div class="research-search">
            <!--<div class="rsearch">-->
            <div class="navigator">
                <div class="nav-block">
                    <!-- navbar only -->
                    <!-- invoke the collapsed menu button for smallviewports -->
                    <label for="show-menu" class="show-menu"><span class="grow">&nbsp;&nbsp;<i class="fas fa-bars">&nbsp;&darr;&nbsp;</i></span></label>

                    <input type="checkbox" id="show-menu" role="button">
                    <div id="menu">
                        <div class="drop-list" dropdown>
                            <a dropdownToggle>{{'_Discipline' | translate}} <span>&#x25BE;</span></a>
                            <div *dropdownMenu role="menu" class="dropdown-menu text-center discipline">
                                <div class="pt-2 pb-2"
                                     (click)="paper.discipline = '' ;  filter()">
                                    <a>{{'_All' | translate}}</a></div>
                                <div class="pt-2 pb-2" *ngFor="let discipline of Disciplines"
                                     (click)="paper.discipline = discipline.discipline_id ;  filter()">
                                    <a *ngIf="_appService.currentLanguage == 'ar'">{{discipline.discipline_ar}}</a>
                                    <a *ngIf="_appService.currentLanguage == 'en'">{{discipline.discipline_en}}</a>


                                </div>

                            </div>
                        </div>
                        <div class="drop-list" dropdown>
                            <a dropdownToggle>{{'_Country' | translate}}<span>&#x25BE;</span></a>
                            <div *dropdownMenu role="menu" class="dropdown-menu text-center">
                                <div class="pt-2 pb-2" (click)="paper.country  = '' ; filter()">
                                    <a>{{'_All' | translate}}</a></div>
                                <div class="pt-2 pb-2" *ngFor="let county of Counties">
                                    <a *ngIf="_appService.currentLanguage == 'en'"
                                       (click)="paper.country = county.name_en ;  filter()">{{county.name_en}}</a>
                                    <a *ngIf="_appService.currentLanguage == 'ar'"
                                       (click)=" paper.country = county.name_ar ; filter()">{{county.name_ar}}</a>
                                </div>
                            </div>

                        </div>
                        <div class="drop-list" dropdown>
                            <a dropdownToggle>{{'_Language' | translate}} <span>&#x25BE;</span> </a>

                            <div *dropdownMenu role="menu" class="dropdown-menu text-center">
                                <div class="pt-2 pb-2" (click)="paper.lang = '' ; filter()">
                                    <a>{{'_All' | translate}}</a></div>
                                <div class="pt-2 pb-2" (click)="paper.lang = '1' ; filter()">
                                    <a>{{'_English' | translate}}</a></div>
                                <div class="pt-2 pb-2" (click)="paper.lang = '2' ;  filter()">
                                    <a>{{'_Arabic' | translate}}</a></div>
                            </div>

                        </div>
                        <div class="drop-list" dropdown>
                            <a dropdownToggle>{{'_Year' | translate}}<span>&#x25BE;</span></a>
                            <div *dropdownMenu role="menu" class="dropdown-menu text-center">
                                <div class="pt-2 pb-2" (click)="paper.year = '' ; filter()">
                                    <a>{{'_All' | translate}}</a></div>

                                <div class="pt-2 pb-2" *ngFor="let year of years"
                                     (click)="paper.year = year.year ; filter()"><a>{{year.year}}</a></div>
                            </div>
                        </div>
                    </div>
                </div><!--nav-block-->
            </div>
            <div class="col-lg-12 research-input">
                <div class="row">
                    <div class="input-group" [formGroup]="searchForm">
                        <input type="text" class="form-control" formControlName="search" (keyup.enter)="filter()"
                               placeholder="{{'_Search' | translate}}...">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button" (click)="filter()"><i class="fa fa-search"
                                                                                                    aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>

            <!--</div>-->

        </div>
    </div>
    <div class="cards-items" *ngIf="papers" infinite-scroll dir="auto"
         [infiniteScrollDistance]="scrollDistance"
         [infiniteScrollUpDistance]="scrollUpDistance"
         [infiniteScrollThrottle]="throttle"
         (scrolled)="loadmore()">
        <div class="c-item" *ngFor="let paper of papers; let i = index" [id]="paper.paper_id"
             [style.direction]="paper.language == 1 ?  'ltr' :  'rtl'"
             data-aos="fade-up" [attr.data-aos-delay]="(i % 9) * 100" data-aos-duration="1000">
            <div class="bookmark" style="cursor: pointer"
                 [style.float]="paper.language == 1 ?  'right' :  'left'">
                <img src="assets/img/save-en.png" (click)="savePaper(paper.paper_id)" *ngIf="paper.saved == 0 && _appService.currentLanguage == 'en'"
                     alt="Save paper">
                <img src="assets/img/saved-en.png" (click)="unsavePaper(paper.paper_id)" *ngIf="paper.saved == 1  && _appService.currentLanguage == 'en'"
                     alt="Unsave Paper">
                <img src="assets/img/save-ar.png" (click)="savePaper(paper.paper_id)" *ngIf="paper.saved == 0 && _appService.currentLanguage == 'ar'"
                     alt="Save paper">
                <img src="assets/img/saved-ar.png" (click)="unsavePaper(paper.paper_id)" *ngIf="paper.saved == 1  && _appService.currentLanguage == 'ar'"
                     alt="Unsave Paper">
            </div>
            <div class="items-container">
                <div class="item-header">
                    <div class="title" style="cursor: pointer;" (click)="viewPaper(paper)">
                        <h3
                                [style.direction]="paper.language == 1 ?  'ltr' :  'rtl'"
                                [style.text-align]="paper.language == 1 ?  'left' :  'right'"
                        >{{(paper?.title.length > 70) ? (paper?.title | slice:0:70) + '...' : (paper?.title) }}

                        </h3>
                        <div *ngIf="paper.language == 1" [style.margin-right]="'auto'"></div>
                        <div *ngIf="paper.language != 1" [style.margin-left]="'auto'"></div>
                    </div>
                </div>
                <div>
                    <div class="item-body" *ngIf="_appService.currentLanguage == 'ar'">
                        <div class="paper-card-info" style="cursor: pointer"
                             [style.direction]="paper.language == 1 ?  'ltr' :  'rtl'"
                             [routerLink]="['/profile' , paper.member_id]">
                            <h6 class="by" *ngIf="paper.language == 1"  > BY  </h6>
                            <h6 class="by" *ngIf="paper.language == 2">  بواسطة </h6>
                            <h6 style="font-weight: bold ; color: #75cddd;"> {{paper.first_name}} {{paper.last_name}} </h6>
                        </div>
                        <div class="paper-card-info"
                             [style.direction]="paper.language == 1 ?  'ltr' :  'rtl'"
                        >
                            <i class="fa fa-tag" aria-hidden="true"></i>
                          <h6><span *ngFor="let tag of paper.tags; let i = index"><span *ngIf="i>0">, </span> {{tag.tag_en}}  </span></h6>
                        </div>
                        <div class="paper-card-info"
                             [style.direction]="paper.language == 1 ?  'ltr' :  'rtl'"
                        >
                            <i class="fa fa-calendar-minus-o" aria-hidden="true"></i> <h6>{{paper.date}}</h6>
                        </div>
                        <div class="paper-description" >
                            <p [style.direction]="paper.language == 1 ?  'ltr' :  'rtl'">
                                {{ (paper?.description.length > 200) ? (paper?.description | slice:0:200) + '...' : (paper?.description) }}
                            </p>
                        </div>
                        <div class="view-more" (click)="viewPaper(paper)">
                            <p>{{'_ViewMore' | translate}}</p>
                        </div>
                    </div>
                    <div class="item-body" *ngIf="_appService.currentLanguage == 'en'">
                        <div class="paper-card-info" style="cursor: pointer"
                             [style.justify-content]="paper.language == 1 ?  'flex-start' :  'flex-start'"
                             [routerLink]="['/profile' , paper.member_id]">
                            <h6 class="by"> {{'_By' | translate}}  </h6>
                            <h6 style="font-weight: bold ; color: #75cddd;"> {{paper.first_name}} {{paper.last_name}} </h6>
                        </div>
                        <div class="paper-card-info"
                             [style.justify-content]="paper.language == 1 ?  'flex-start' :  'flex-start'"
                        >
                            <i class="fa fa-tag" aria-hidden="true"></i>
                            <h6><span *ngFor="let tag of paper.tags; let i = index"><span *ngIf="i>0">, </span> {{tag.tag_en}} </span></h6>
                        </div>
                        <div class="paper-card-info"
                             [style.justify-content]="paper.language == 1 ?  'flex-start' :  'flex-start'"
                        >
                            <i class="fa fa-calendar-minus-o" aria-hidden="true"></i> <h6>{{paper.date}}</h6>
                        </div>
                        <div class="paper-description">
                            <p [style.direction]="paper.language == 1 ?  'ltr' :  'rtl'">
                                {{ (paper?.description.length > 200) ? (paper?.description | slice:0:200) + '...' : (paper?.description) }}
                            </p>
                        </div>
                        <div class="view-more" (click)="viewPaper(paper)">
                            <p>{{'_ViewMore' | translate}}</p>
                        </div>
                    </div>
                    <div class="item-footer">
                        <div class="view-download" [style.direction]="_appService.currentLanguage == 'en' ?  'ltr' :  'rtl'">

                            <div class="views-paper">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <h6>{{paper.views}} {{'_Views' | translate}}</h6>
                            </div>
                            <div class="download-paper" style="cursor: pointer" (click)="download(paper)">
                                <i class="fa fa-download" aria-hidden="true"></i>  <h6>{{'_Download' | translate}}</h6>
                            </div>
                            <div class="edit-paper" style="cursor: pointer"
                                 [routerLink]="['/edit-paper' , paper.paper_id]"
                                 *ngIf="paper.username == username">
                                <i class="fa fa fa-pencil-square-o"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-item" *ngIf="papers.length % 3 == 2" [style.opacity]="0" [style.border]="'none'"></div>
    </div>
</div>
