<nav class='header'>

</nav>

<div class="full-section login" data-aos-duration="1000">
    <div class="side">
        <div class="sec-img">
            <img src="assets/img/reset-password.jpg" alt="">
        </div>
    </div>
    <div class="side">
        <div class="navbar-login logged">

            <div class="login-register">
                <div class="lang" (click)="_appService.switchLanguage('en')"
                     *ngIf="_appService.currentLanguage == 'ar'">{{'_Lang'| translate}}</div>
                <div class="lang" (click)="_appService.switchLanguage('ar')"
                     *ngIf="_appService.currentLanguage == 'en'">{{'_Lang'| translate}}</div>
            </div>
        </div>
        <div class="sec-content">
            <div class="title">
                <p>{{'_PasswordReset' | translate}}</p>
                <div></div>
            </div>

            <div class="form-input">
                <form class="example-form" [formGroup]="loginForm"
                      [dir]="_appService.currentLanguage== 'en' ? 'ltr' :  'rtl'">
                    <div class="reset-title">
                        <h3>{{'_EnterEmailAddress' | translate}}</h3>
                    </div>
                    <div class="item">
                        <mat-form-field class="example-full-width">
                            <input matInput [placeholder]="'_EmailAddress' | translate" formControlName="email"
                                   required>
                            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>

                        </mat-form-field>
                    </div>

                    <div class="submit" (click)="sendConfirmEmail()">
                        <button [disabled]="!loginForm.valid">{{'_Submit' | translate}}</button>
                    </div>
                    <div class="go-login"><p>{{'_DontHaveAnAccount' | translate}}</p><a
                            routerLink="/register">{{'_JoinUs' | translate}}</a></div>
                </form>
            </div>

        </div>
    </div>
</div>
