<!--<div class="footNote" data-aos-anchor-placement="top-bottom" data-aos-duration="1000" data-aos-once="true" [attr.data-aos]="_appService.currentLanguage == 'en' ? 'fade-left' : 'fade-right'">
      <div class="footNote-content">
        <h1 class="text-left">
          <p>{{'_FootNoteTitle' | translate}}</p>
        </h1>
        <div class="line"></div>
        <div class="content">
          <p>{{'_FootNoteDescription' | translate}}</p>
        </div>
        <div>
          <div class="button-action">
            <button (click)="openDialog()">{{'_ReadMore' | translate}}</button>
          </div>
        </div>
    </div>
</div>-->

<div class="footer" [style.direction]="_appService.currentLanguage === 'en' ?  'ltr' :  'rtl'">
    <p  >{{'_AllRightsReversed' | translate}}</p>
    <i class="fa fa-copyright" aria-hidden="true"></i>
    <p>{{'_ArabYouthResearch' | translate}} </p>
  <br>
    <div (click)="openDialog()" class="footerConditions">{{'_TermsAndConditions' | translate}}</div>
</div>
