
.accordion a {
    color: #000;
}

.active, .accordion:hover {
    background-color: #fff;
}

.active:after {
    content: "\f078";
}

.panel {
    padding: 0 35px;
    background-color: #EEF1F1;
    max-height: 0;
    overflow: hidden;
    border: none;
    transition: max-height 0.2s ease-out;
}

.panel p {
    margin: 10px 0;
}

.closed {
    border-radius: 15px 15px 0 0 !important;
}

.font-black {
    pointer-events: none;
}
