
.accordion a {
    color: #000;
}

.active, .accordion:hover {
    background-color: #fff;
}

.active:after {
    content: "\f078";
}


.panel p {
    padding: 10px;
}

.closed {
    border-radius: 15px 15px 0 0 !important;
}

.font-black {
    pointer-events: none;
}
