<header>
  <div class="top-nav">
    <div class="navbar-login" *ngIf="!_appService.roll">
      <div class="login-register">
        <div class="lang" (click)="_appService.switchLanguage('en')"
             *ngIf="_appService.currentLanguage == 'ar'">{{'_Lang'| translate}}</div>
        <div class="lang" (click)="_appService.switchLanguage('ar')"
             *ngIf="_appService.currentLanguage == 'en'">{{'_Lang'| translate}}</div>
        <div class="rigister" routerLink="/register">{{'_Register'| translate}}</div>
        <div class="login" routerLink="/login">{{'_Login'| translate}}</div>
      </div>
    </div>
    <div class="navbar-login logged">
      <div class="login-register" *ngIf="_appService.roll">
        <div class="lang" (click)="_appService.switchLanguage('en')"
             *ngIf="_appService.currentLanguage == 'ar'">{{'_Lang'| translate}}</div>
        <div class="lang" (click)="_appService.switchLanguage('ar')"
             *ngIf="_appService.currentLanguage == 'en'">{{'_Lang'| translate}}</div>
        <div class="login"  [routerLink]="['/profile' , memberDetails.member_id]">{{'_MyProfile'| translate}}</div>
        <div class="login" (click)="_appService.logout()">{{'_Logout'| translate}}</div>
      </div>
    </div>
  </div>
<nav class='nav header' id='nav-id' [style.direction]="_appService.currentLanguage === 'en' ?  'ltr' :  'rtl'">
   <div class="logo-left" >
        <a href="http://www.arabyouthcenter.org/" target="_blank" title="Arab Youth Center  "><img src="assets/img/logo-left.png" alt=""></a>
    </div>
    <ul class="nav-links" *ngIf="navActive">
        <li (click)="_appService.active = 0" [ngClass]="_appService.active == 0 ? 'active' : ''"
            style=" animation: 0.5s ease 0.442857s 1 normal forwards running navLinkFade ;" routerLink="/"><a>
            <p>{{'_HomePage' | translate}}</p></a></li>
        <li (click)="_appService.active = 1" [ngClass]="_appService.active == 1 ? 'active' : ''"
            style="animation: 0.5s ease 0.728571s 1 normal forwards running navLinkFade;" routerLink="/papers"><a>
            <p>{{'_ResearchPapers' | translate}}</p></a></li>
        <li (click)="_appService.active = 2" [ngClass]="_appService.active == 2 ? 'active' : ''"
            style="animation: 0.5s ease 0.871429s 1 normal forwards running navLinkFade;" routerLink="/about"><a >
            <p>{{'_AboutUs' | translate}}</p></a></li>
        <li (click)="_appService.active = 3" [ngClass]="_appService.active == 3 ? 'active' : ''"
            style="animation: 0.5s ease 1.01429s 1 normal forwards running navLinkFade;" routerLink="/members">
            <a><p>{{'_Our_Members' | translate}}</p></a></li>
    </ul>

    <div class="logo-right " routerLink="/" style="cursor: pointer">
        <img src="assets/img/logo-right.png" alt="">
    </div>
</nav>

<div class='header' id='nav-m-id'>
    <div class="logo-left mobileLogo">
<!--        <img src="assets/img/logo-right.png" alt="">-->
    </div>
    <div class="navbar nav-mobile"
         [style.z-index]="collapsed ? '550' : ''"
         [style.background-color]="collapsed ? '#fff' : ''">
        <a id="nav-toggle" [ngClass]="collapsed ? 'active' : ''" (click)="collapsed = !collapsed">
            <span [style.color]="collapsed ? '#1b2850' : ''"></span>
        </a>
    </div>
</div>

<div class="nav-collapsed" *ngIf="collapsed">
    <a routerLink="/home" (click)="collapsed = !collapsed">{{'_HomePage' | translate}}</a>
    <a routerLink="/papers" (click)="collapsed = !collapsed">{{'_ResearchPapers' | translate}}</a>
    <a routerLink="/about" (click)="collapsed = !collapsed">{{'_AboutUs' | translate}}</a>
</div>


</header>
