<div *ngIf="_appService.currentLanguage === 'en'">

  <h2 mat-dialog-title>General Terms And Conditions </h2>
  <mat-dialog-content class="mat-typography">
   <ul>
      <li>
        This website is managed by Arab Youth Center (herein after referred to as ‘the Center). The Center reserves the right to modify or amend these terms from time to time without notice. If you wish to continue to use our website, it will mean that you accept the Terms & Conditions and any further post changes. We welcome your use of the Arab Youth Research website in accordance with the following terms of use. Members or users are entirely responsible for their conduct and compliance with these terms. By registering, using or accessing on the Arab Youth Research Website, you acknowledge that you have read, understood, and agree to be bound by these terms.
      </li>
      <li>
        This website gives no warranty and the Arab Youth Center accepts no responsibility for the integrity of the download of the information and services provided through this website.  The information and services is provided ‘as is’ as to its fitness for purpose.
      </li>
      <li>
        Without prejudice to Users other rights under these terms and conditions, if the user breaches these terms and conditions in any way, the administration of the website may take such action as it deems appropriate to deal with the breach, including suspending the user’s access to the website, prohibiting the user from accessing the website,  contacting the user’s internet service provider to request that they block the user’s access to the website and/or bringing court proceedings against the user.
      </li>
   </ul>
    <h2 >Privacy Policy </h2>
    <p>This privacy policy constitutes a part of the Terms & Conditions of this website.</p>
    <ul>
      <li>
        By using the website, users agree to the following personal information being stored for internal use by the program: full name, email address, country, job title, organization, sector, social media accounts. Some fields out of these are compulsory.
      </li>
      <li>
        We require this information to understand your needs and provide you with a better service, and for the following reasons: internal record keeping, reporting purposes, to direct the most relevant and useful material from the site to you via recommendations, e-alerts and e-newsletters; and to improve our products and services.
      </li>
      <li>
        This website has security measures in place to protect the loss, misuse and alteration of the information under the control of the Arab Youth Center. The Arab Youth Center shall not be responsible for any harm that the user/reviewer or any person may suffer as a result of a breach of confidentiality with respect to information the user transmitted to the site.
      </li>
    </ul>

    <h2 >Copyright</h2>
    <p>All copy right reserved ©2019 The Arab Youth Research Platform at the Arab Youth Center, UAE.</p>
    <ul>
      <li>
        The contents of this website, including but not limited to, the text, logos, images, files, links and sounds are the property of the program and are protected by copyright.
      </li>
      <li>
        The program reserves all copyright, trademark, patent, intellectual and other property rights in the information and services contained in this website provided in any means in the website. Any unauthorized use or publication or stored in a retrieval system or reproduction or printing of the information, materials and proprietary rights contained in this website is strictly prohibited.
      </li>
      <li>
        All trademarks, service marks, product names, and company names or logos displayed or cited on the Website are the property of their respective owners.
      </li>
    </ul>
    <h2>Disclaimer notice</h2>

    <ul>
      <li>
        The Arab Youth Center operates this website, providing information and certain services. Whereas the Arab Youth Center is looking to provide quality of information and service to this website’s users and makes every attempt to ensure accuracy, and reliability of the data contained in this website, the website is likely to develop continuously and the provided information and services may be amended from time to time.
      </li>
      <li>
        Therefore, any provided information or services through this website or any other sites linked to it is deemed to be general information only and not provided for advisory or consultancy purposes.
      </li>
    </ul>
    <h2>Website Security Rules</h2>
    <p>Users are prohibited from violating or attempting to violate the security of the website, including, without limitation:</p>
    <ul>
      <li>
        Accessing data not intended for such user or logging into a server or account which the User is not authorized to access
      </li>
      <li>
        Attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization
      </li>
      <li>
        Attempting to interfere with service to any User, host or network, including, without limitation, via means of submitting a virus to the Web Site, overloading, flooding, mail spamming, mail bombing or crashing
      </li>
      <li>
        Proposing promotions, and/or advertising of products or services.
      </li>
      <li>
        Forging any TCP/IP packet or any part of the   information or republish them without authorization.
      </li>
    </ul>
    <p>Violation of system or network or this website may result in civil or criminal liability. The program along with the relevant authorities will investigate occurrences that may involve such violations and may involve, and cooperate with, law enforcement authorities in prosecuting users who are involved in such violations.</p>

    <h2>User Conduct</h2>
    <p>Users may not use this website to:Users may not use this website to:</p>
    <ul>
      <li>
        Perform any activity which is or may be, directly or indirectly, unlawful, including, but not limited to, any acts which may be deemed to be, in any way, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, invasive of another’s privacy, hateful or racially, ethnically or otherwise objectionable.
      </li>
      <li>
        Perform any activity that may breach a third party right.
      </li>
      <li>
        Engage in commercial activities, including but not limited to, offering for sale any products or services, soliciting for advertisers or sponsors or selling, licensing or granting public access to any materials or information displayed on the Website.
      </li>
      <li>
        Share views that justify, promote, incite, or support violence to achieve any number of social, religious, or political changes.
      </li>
    </ul>
    <h2>Limitation of Liability</h2>
    <ul>
      <li>
        Under no circumstances shall the Website, its officers, directors, agents, or employees be liable to any User for any damages, claims, demands, or causes of action, whether in tort, contract or otherwise, whether direct or indirect, special, incidental, consequential, or punitive, as a result of the User’s use of the site or the content, products, or services provided thereon.
      </li>
      <li>
        Users agree to access to the Website at their own risk. The Arab Youth Center accepts no responsibility for any liability, whether civil or criminal, resulting from Users’ access of the Website and its content.
      </li>
    </ul>



  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</div>
<div *ngIf="_appService.currentLanguage === 'ar'">

  <h2 mat-dialog-title style="direction: rtl; text-align: right">الشروط والأحكام</h2>
  <mat-dialog-content class="mat-typography">
    <ul style="direction: rtl; text-align: right">
      <li>
        تدار منصة أبحاث الشباب العربي من قبل مركز الشباب العربي ، بدولة الإمارات العربية المتحدة (ويُشار إليه فيما يلي باسم "المركز") على هذا هذا الموقع. تحتفظ  المنصة  بحقها في تغيير أو تعديل الشروط التالية من وقت لآخر بدون إشعار. إذا كنت ترغب في الاستمرار في استخدام موقعنا، سيُعدّ ذلك إقراراً منك بقبول الشروط والأحكام وأي تغييرات إضافية تالية. نُرحب باستخدامك لموقع منصة أبحاث الشباب العربي وفقًا لشروط الاستخدام التالية. يتحمل الأعضاء أو المستخدمون المسؤولية الكاملة عن سلوكهم  ومدى امتثالهم لهذه الشروط والأحكام. ويعتبر التسجيل على موقع منصة أبحاث الشباب العربي أو استخدامه بمثابة إقرار بقراءة هذه الشروط والأحكام وفهمها والموافقة على الالتزام بها.
      </li>
      <li>
        لا يقدم هذا الموقع أي ضمانات ولا يتحمل مركز الشباب العربي أي مسؤولية عن سلامة تحميل أي من المعلومات أو الخدمات المقدمة من خلال هذا الموقع. وتقدم المعلومات والخدمات كما وردت في الموقع وللأغراض المقدمة لأجلها.
      </li>
      <li>
        دون الإخلال بسائر حقوق المستخدم المكفولة بموجب هذه الشروط والأحكام، إذا خالف المستخدم هذه الشروط والأحكام بأي شكل من الأشكال، قد تتخذ إدارة التطبيق الإجراءات التي تراها مناسبة للتعامل مع هذه المخالفة، بما في ذلك تعليق دخول المستخدم إلى الموقع، أو منعه من الدخول إلى الموقع، أو الاتصال بمقدم خدمة الإنترنت لطلب حظر دخول المستخدم إلى الموقع و / أو رفع دعوى قضائية ضد المستخدم.
      </li>
    </ul>
    <h2 style="direction: rtl; text-align: right" >سياسة الخصوصية</h2>
    <ul style="direction: rtl; text-align: right">
      <li>
        تُشكل سياسة الخصوصية جزءًا لا يتجزأ من شروط وأحكام استخدام هذا الموقع. من خلال استخدام الموقع، يوافق المستخدم على تخزين المعلومات الشخصية المرفوعة على الموقع والتي يقوم المستخدم بإدخالها ، علماً بأن إدخال بعض هذه البيانات هو أمر إلزامي.
      </li>
      <li>
        يطلب الموقع هذه المعلومات لفهم احتياجاتك وتوفير خدمة أفضل لك، وكذلك للأسباب التالية: الاحتفاظ بالسجلات الداخلية، وإعداد التقارير، والتنبيهات الإلكترونية، ورسائل البريد الإلكتروني
      </li>
      <li>
        يمتلك الموقع تدابير أمنية لحماية المعلومات من الفقد وسوء الاستخدام والتغيير. ولا يتحمل مركز الشباب العربي أية مسؤولية عن أي أضرار تلحق بالمستخدم أو أي شخص آخر بسبب الإخلال بسياسة السرية وذلك فيما يخص المعلومات المقدمة  للموقع من قبل المتصفح أو المستخدم.
      </li>
    </ul>

    <h2 style="direction: rtl; text-align: right">قوق الطبع والنشر</h2>
    <p>جميع حقوق الطبع محفوظة لمنصة أبحاث الشباب العربي  في مركز الشباب العربي، بدولة الإمارات العربية المتحدة © 2019</p>
    <ul style="direction: rtl; text-align: right">
      <li>
        جميع محتويات هذا الموقع، بما في ذلك على سبيل المثال لا الحصر، النصوص، والشعارات، والصور، والملفات، والروابط، والأصوات مِلك للبرنامج ومحمية بموجب حقوق الطبع والنشر.
      </li>
      <li>
        جميع حقوق الطبع والنشر، والعلامات التجارية، وبراءات الاختراع، وحقوق الملكية الفكرية وغيرها من حقوق الملكية المتعلقة بالمعلومات والخدمات الواردة في هذا الموقع بأي شكل من الأشكال محفوظة للبرنامج. ويُمنع منعاً باتّاً أي استخدام أو نشر أو تخزين أو نسخ أو طباعة غير مصرح بها لتلك المعلومات والخدمات والمواد وحقوق الملكية الواردة في هذا الموقع.
      </li>
      <li>
        جميع العلامات التجارية، وشعارات الخدمات، وأسماء المنتجات، وأسماء الشركات، أو الشعارات المعروضة أو المستشهد بها على الموقع ملك لأصحابها المعنيين.
      </li>
    </ul>
    <h2 style="direction: rtl; text-align: right">إخلاء مسؤولية</h2>

    <ul>
      <li>
        يتولى مركز الشباب العربي إدارة  المنصة، بما في ذلك توفير المعلومات والخدمات. وفيما يسعى مركز الشباب العربي لتوفير خدمة على أعلى مستوى لمستخدمي المنصة ، بكل السبل لضمان دقة وصحة البيانات الواردة فيه، إلا أن المنصة قيد التطوير وقد يتم تعديل المعلومات والخدمات الواردة فيه من وقت لآخر.
      </li>
      <li>
        وعليه، فإن المعلومات والخدمات المتوفرة من خلال هذه المنصةأو أي مواقع أخرى مرتبطة به تُعد معلومات عامة، ولا يُقصد بها تقديم خدمات استشارية أو توصيات متخصصة.
      </li>
    </ul>
    <h2 style="direction: rtl; text-align: right">قواعد حماية الموقع</h2>
    <p style="direction: rtl; text-align: right">يُحظر على المستخدم انتهاك أو محاولة انتهاك تدابير حماية الموقع، بما في ذلك على سبيل المثال لا الحصر:</p>
    <ul style="direction: rtl; text-align: right">
      <li>
        الحصول على بيانات غير مخول له بالحصول عليها أو الدخول إلى الخادم أو إلى حساب غير مصرح له بالوصول إليه.
      </li>
      <li>
        محاولة البحث عن أو اختبار النظام أو الشبكة للوصول إلى أي نقاط ضعف محتملة أو محاولة الإخلال بأمن الموقع أو تدابير الحماية دون الحصول على التصريح اللازم.
      </li>
      <li>
        محاولة التدخل في أي خدمة لأي مستخدم، أو مضيف، أو شبكة، بما في ذلك، على سبيل المثال لا الحصر، تحميل أو إرسال فيروسات للموقع، أو تجاوز حد التحميل المسموح به، أو إرسال محتوى ضخم، أو رسائل غير مرغوب فيها، أو التسبب بانهيار البريد الإلكتروني للموقع.
      </li>
      <li>
        نشر عروض أو الإعلان عن أي منتجات أو خدمات.
      </li>
      <li>
        تزوير أو نسخ أي برنامج أو أي حق من حقوق الملكية الفكرية أو أي جزء من المعلومات أو إعادة نشرها دون الحصول على التصريح اللازم.
      </li>
    </ul>
    <p style="direction: rtl; text-align: right">أي انتهاك أو خرق للنظام أو الشبكة أو الموقع قد يعرض صاحبه للمساءلة المدنية أو الجنائية. وللبرنامج الحق في التحقيق في مثل هذه الانتهاكات والتجاوزات وملاحقة المستخدمين المشاركين فيها، وذلك بالتعاون مع الجهات المعنية.</p>

    <h2 style="direction: rtl; text-align: right">سلوك المستخدم</h2>
    <p style="direction: rtl; text-align: right">لا يجوز للمستخدم استخدام هذا الموقع بهدف:</p>
    <ul style="direction: rtl; text-align: right">
      <li>
        القيام بأي نشاط يُصنف أو قد يُصنف على أنه غير قانوني، سواءٌ بشكل مباشر أو غير مباشر، ويشمل ذلك، على سبيل المثال لا الحصر، أي أعمال قد تُعد ضارة أو تهديدية أو مسيئة أو مؤذية أو تشهيرية أو مبتذلة أو فاحشة أو مقتحمة لخصوصية الآخرين، أو تحض على الكراهية، أو العنصرية، أو غير مقبولة بأي شكل من الأشكال.
      </li>
      <li>
        القيام بأي نشاط قد ينتهك حقوق أي أطراف خارجية.
      </li>
      <li>
        القيام بأنشطة تجارية، بما في ذلك على سبيل المثال لا الحصر، عرض أي منتجات أو خدمات للبيع، أو طلب معلنين أو رعاة، أو بيع أو ترخيص أو منح إمكانية الوصول إلى أي مواد أو معلومات معروضة على الموقع بشكل عام.
      </li>
      <li>
        تبادل الآراء التي تبرر العنف أو تشجعه أو تحرض عليه أو تدعمه لتحقيق أي تغييرات اجتماعية أو دينية أو سياسية.
      </li>
    </ul>
    <h2 style="direction: rtl; text-align: right">حدود المسؤولية</h2>
    <ul style="direction: rtl; text-align: right">
      <li>
        لا يتحمل التطبيق أو مسؤولوه أو مديروه أو وكلاؤه أو موظفوه أي مسؤولية تحت أي ظرف من الظروف حيال أي مستخدم بسبب أي أضرار أو مطالبات أو أسباب لإقامة دعوى، سواء بسبب التقصير أو الضرر أو غير ذلك، بصورة مباشرة أو غير مباشرة، أو لأسباب خاصة أو عرضية أو ظرفية أو جنائية، نتيجة لاستخدام المستخدم للموقع أو المحتوى أو المنتجات أو الخدمات المقدمة عليه.
      </li>
      <li>
        يوافق المستخدم على استخدام الموقع على مسؤوليته الخاصة. ولا يتحمل مركز الشباب العربي أي مسؤولية، مدنية كانت أو جنائية، نتيجة دخول المستخدم على الموقع واستخدام محتواه.
      </li>
    </ul>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>إلغاء</button>
  </mat-dialog-actions>
</div>


