<div class="sec-content" [style.direction]="appService.currentLanguage === 'en' ?  'ltr' :  'rtl'">
    <div class="title">
        <p>{{'_UploadResearchPaper' | translate}}</p>
        <div></div>
    </div>
    <div class="form-input">
        <form class="upload-paper-form" [formGroup]="uploadPaper">
            <div class="choose-file">
              <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" accept="pdf" multiple="false">
                <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                  {{'_DragDropFile' | translate}}
                </ng-template>
              </ngx-file-drop> <!-- {{'_DragDropFile' | translate}}-->
                <div class="submit">
                    <label for="file-upload" class="custom-file-upload">
                        {{'_ChooseFile' | translate}}
                    </label>
                    <input id="file-upload" type="file" accept="application/pdf" formControlName="File"
                           (change)="getFile()" #File>
                </div>
            </div>
            <div class="file_name" *ngIf="UploadFiles">
                <div class="check-filename">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>{{(appService.fileName.length > 40) ? (appService.fileName | slice:0:40) + '...' : (appService.fileName) }}</p>
                </div>
                <div class="clear" (click)="clearFile()">
                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                </div>
            </div>
            <div class="submit" *ngIf="UploadFiles" routerLink="details">
                <button>{{'_Continue' | translate}}</button>
            </div>

        </form>
    </div>

</div>

