
<nav class='header'>

</nav>


<div class="full-section login" data-aos-duration="1000">
  <div class="side">
    <div class="sec-img">
      <img src="assets/img/change-password.jpg" alt="">
    </div>
  </div>
  <div class="side">
    <div class="navbar-login logged">

      <div class="login-register">
        <div class="lang" (click)="_appService.switchLanguage('en')"
             *ngIf="_appService.currentLanguage == 'ar'">{{'_Lang'| translate}}</div>
        <div class="lang" (click)="_appService.switchLanguage('ar')"
             *ngIf="_appService.currentLanguage == 'en'">{{'_Lang'| translate}}</div>
      </div>
    </div>
    <div class="sec-content">
      <div class="title">
        <p>{{'_SetPassword' | translate}}</p>
        <div></div>
      </div>
      <div class="form-input">
        <form class="example-form" [formGroup]="loginForm"  [dir]="_appService.currentLanguage== 'en' ? 'ltr' :  'rtl'">
          <div class="item">
            <mat-form-field>
              <input matInput placeholder="{{'_EnterPassword' | translate}}" [type]="hide ? 'password' : 'text'"  formControlName="password" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="password.errors.required">{{'_Required' | translate}}</mat-error>

            </mat-form-field>
          </div>
          <div class="submit" (click)="savePassword()">
            <button [disabled]="!loginForm.valid">{{'_Save' | translate}}</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
