<nav class='header'>

</nav>
<div class="nav-collapsed" *ngIf="collapsed">
  <a routerLink="/home">{{'_HomePage' | translate}}</a>
  <a routerLink="/papers">{{'_ResearchPapers' | translate}}</a>
  <a routerLink="/about">{{'_AboutUs' | translate}}</a>
  <a (click)="_appService.section = 'becomeResearcher'" routerLink="/home"> {{'_Objectives' | translate}}</a>
  <a routerLink="/members">{{'_Our_Members' | translate}}</a>
  <a (click)="_appService.section = 'heatmap'" routerLink="/home">{{'_HeatMap' | translate}}</a>
  <a  (click)="_appService.section = 'partners'" routerLink="/home">{{'_OurPartners' | translate}}</a>
  <a  (click)="_appService.section = 'faq'" routerLink="/home">{{'_FAQs' | translate}}</a>
  <a (click)="_appService.section = 'contactus'" routerLink="/home">{{'_ContactUs' | translate}}</a>
</div>
<div class="full-section register" data-aos-duration="1000">
  <div class="side">
    <div class="sec-img">
      <img src="assets/img/register.jpg" alt="">
    </div>
  </div>
  <div class="side">
    <div class="navbar-login logged">
      <div class="navbar"
           [style.z-index]="collapsed ? '550' : ''"
           [style.background-color]="collapsed ? '#fff' : ''">
        <a id="nav-toggle" [ngClass]="collapsed ? 'active' : ''" (click)="collapsed = !collapsed">
          <span [style.color]="collapsed ? '#1b2850' : ''"></span>
        </a>
      </div>
      <div class="login-register">
        <div class="lang" (click)="_appService.switchLanguage('en')"
             *ngIf="_appService.currentLanguage == 'ar'">{{'_Lang'| translate}}</div>
        <div class="lang" (click)="_appService.switchLanguage('ar')"
             *ngIf="_appService.currentLanguage == 'en'">{{'_Lang'| translate}}</div>
      </div>
    </div>

    <div class="sec-content">
      <div class="title">
        <p *ngIf="_appService.registerPageTitle === 0">{{'_ShareKnowledge' | translate}}</p>
        <p *ngIf="_appService.registerPageTitle === 1">{{'_RegisterToSaveBookmark' | translate}}</p>
        <p *ngIf="_appService.registerPageTitle === 2">{{'_LoginRegisterToSubmitPaper' | translate}}</p>
        <p *ngIf="_appService.registerPageTitle === 3">{{'_LoginRegisterToSubmitViewPaper' | translate}}</p>
        <div></div>
      </div>
      <div class="form-input">
        <form class="example-form" [formGroup]="registerForm"  [dir]="_appService.currentLanguage== 'en' ? 'ltr' :  'rtl'">
          <div class="item-full-name">
            <mat-form-field class="example-full-width first-name">
              <input matInput placeholder="{{'_FName' | translate}}" formControlName="f_name" required>
              <mat-error *ngIf="f_name.errors.required">{{'_Required' | translate}}</mat-error>

            </mat-form-field>
            <mat-form-field class="example-full-width last-name">
              <input matInput placeholder="{{'_LName' | translate}}" formControlName="l_name" required>
              <mat-error *ngIf="l_name.errors.required">{{'_Required' | translate}}</mat-error>

            </mat-form-field>
          </div>
          <div class="item">
            <mat-form-field class="example-full-width">
              <input matInput [placeholder]="'_EmailAddress' | translate" formControlName="email" required>
              <mat-error  *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>

            </mat-form-field>
          </div>

          <div class="item">
            <mat-form-field>
              <input matInput placeholder="{{'_EnterPassword' | translate}}" [type]="hide ? 'password' : 'text'"  formControlName="password" required>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="password.errors.required">{{'_Required' | translate}}</mat-error>

            </mat-form-field>
          </div>
          <div class="submit">
            <button  [disabled]="!registerForm.valid"  (click)="openDialog()">{{'_Register' | translate}}</button>


          </div>
          <div class="go-login"><P>{{'_AlreadyHaveAccount' | translate}}</P><a routerLink="/login">{{'_Login' | translate}}</a></div>
        </form>
      </div>

    </div>
  </div>
</div>
