<nav class='header'>

</nav>
<div class="nav-collapsed" *ngIf="collapsed">
    <a routerLink="/home">{{'_HomePage' | translate}}</a>
    <a routerLink="/papers">{{'_ResearchPapers' | translate}}</a>
    <a routerLink="/about">{{'_AboutUs' | translate}}</a>
    <a (click)="_appService.section = 'becomeResearcher'" routerLink="/home"> {{'_Objectives' | translate}}</a>
    <a routerLink="/members">{{'_Our_Members' | translate}}</a>
    <a (click)="_appService.section = 'heatmap'" routerLink="/home">{{'_HeatMap' | translate}}</a>
    <a  (click)="_appService.section = 'partners'" routerLink="/home">{{'_OurPartners' | translate}}</a>
    <a  (click)="_appService.section = 'faq'" routerLink="/home">{{'_FAQs' | translate}}</a>
    <a (click)="_appService.section = 'contactus'" routerLink="/home">{{'_ContactUs' | translate}}</a>
</div>

<div class="full-section register" data-aos-duration="1000">
    <div class="side avatar">

        <div class="avatar-cropper sec-img" >
            <img *ngIf="!imageChangedEvent"
                 [src]="croppedImage.base64 ? croppedImage.base64 : croppedImage" alt=""
                 [style.width]="croppedImage.base64 ? '100%' : 'assets/img/avatar_default.PNG'">
            <div *ngIf="imageChangedEvent">
                <image-cropper [imageChangedEvent]="imageChangedEvent"
                               [maintainAspectRatio]="false"
                               [resizeToWidth]="0"
                               (imageCropped)="imageCropped($event)"
                               (imageLoaded)="imageLoaded()"
                               (loadImageFailed)="loadImageFailed()"
                ></image-cropper>
            </div>
            <div class="image-upload" [style.bottom]="croppedImage.base64 ? '0' : '8px'"
                 [style.right]="croppedImage.base64 ? '0' : '8px'">
                <input type="file" (change)="fileChangeEvent($event)"/>
                <label>
                    <img src="assets/img/camera.PNG"/>
                </label>
            </div>
            <div *ngIf="imageChangedEvent" class="checked" [style.bottom]="croppedImage.base64 ? '0' : '8px'"
                 [style.left]="croppedImage.base64 ? '0' : '8px'">
                <i class="fa fa-check" (click)="imageChangedEvent = null"></i>
            </div>
        </div>
    </div>
    <div class="side">
        <div class="navbar-login logged">
            <div class="navbar"
                 [style.z-index]="collapsed ? '550' : ''"
                 [style.background-color]="collapsed ? '#fff' : ''">
                <a id="nav-toggle" [ngClass]="collapsed ? 'active' : ''" (click)="collapsed = !collapsed">
                    <span [style.color]="collapsed ? '#1b2850' : ''"></span>
                </a>
            </div>
            <div class="login-register"  *ngIf="_appService.roll">
                <div class="lang" (click)="_appService.switchLanguage('en')" *ngIf="_appService.currentLanguage == 'ar'">{{'_Lang'| translate}}</div>
                <div class="lang" (click)="_appService.switchLanguage('ar')" *ngIf="_appService.currentLanguage == 'en'">{{'_Lang'| translate}}</div>
                <div class="login" (click)="_appService.logout()">{{'_Logout'| translate}}</div>
            </div>
        </div>
        <div class="sec-content update-profile">
            <div class="title">
                <p>{{'_UpdateProfile' | translate}}</p>
                <div></div>
            </div>
            <div class="form-input">
                <form class="example-form" [formGroup]="profileForm"  [dir]="_appService.currentLanguage== 'en' ? 'ltr' :  'rtl'">
                    <div class="item-full-name">
                        <mat-form-field class="example-full-width first-name" required>
                            <input matInput [placeholder]="'_FName' | translate" formControlName="f_name">
                            <mat-error *ngIf="f_name.errors.required">{{'_Required' | translate}}</mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width last-name" required>
                            <input matInput [placeholder]="'_LName' | translate" formControlName="l_name">
                            <mat-error *ngIf="l_name.errors.required">{{'_Required' | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <mat-form-field>
                        <mat-label>{{'_University' | translate}}</mat-label>
                        <mat-select formControlName="university" required>
                            <mat-option>--</mat-option>
                            <mat-option *ngFor="let university of universities"  [value]="university.university_id">
                                <span *ngIf="_appService.currentLanguage === 'en'">{{university.name_en}}</span>
                                <span *ngIf="_appService.currentLanguage === 'ar'">{{university.name_en}}</span>
                            </mat-option>
                            <mat-error *ngIf="university.errors.required">{{'_Required' | translate}}</mat-error>

                        </mat-select>
                    </mat-form-field>
                    <div class="field-item">
                        <mat-form-field class="example-full-width">
                            <input matInput [placeholder]="'_Job' | translate" value="" formControlName="job">
                        </mat-form-field>
                    </div>

                    <div class="field-item">
                        <mat-form-field class="example-full-width">
                            <input matInput [placeholder]="'_Phone' | translate" value="" formControlName="phone">
                        </mat-form-field>
                    </div>

                    <div class="field-item">
                        <mat-form-field class="example-full-width">
                            <input matInput [placeholder]="'_Location' | translate" formControlName="location">
                        </mat-form-field>
                    </div>

                    <div class="field-item">
                        <mat-form-field class="example-full-width">
                            <input matInput [placeholder]="'_LinkedIn' | translate"  formControlName="linkedin">
                        </mat-form-field>

                    </div>
                    <mat-form-field>
                        <textarea matInput  #input  placeholder="{{'_Description' | translate}}" maxlength="500"  formControlName="description"  required></textarea>
                        <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [placeholder]="'_EnterPassword' | translate" formControlName="password"
                               [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                        </button>

                    </mat-form-field>
                    <div class="submit" (click)="editProfile()">
                        <button [disabled]="!profileForm.valid" >{{'_Save' | translate}}</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
