<div class="sec-content">
    <div class="title">
        <p> {{'_ResearchPaperDetails' | translate}}</p>
        <div></div>
    </div>
    <div class="form-input">
        <form class="upload-paper-form" [formGroup]="paperForm"
              [dir]="_appService.currentLanguage== 'en' ? 'ltr' :  'rtl'">
            <div class="example-container">
                <mat-form-field>
                    <input matInput placeholder="{{'_Title' | translate}}" formControlName="title" required>
                    <mat-error *ngIf="title.errors.required">{{'_Required' | translate}}</mat-error>
                </mat-form-field>
            </div>

            <mat-form-field hintLabel="Please Enter from 200 to 500 characters">
                <textarea matInput #input placeholder="{{'_Abstract' | translate}}" maxlength="500" minlength="200"
                          formControlName="description" required></textarea>
                <mat-hint align="end">{{input.value?.length || 0}}/500</mat-hint>
                <mat-error *ngIf="description.errors.required">{{'_Required' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-select placeholder="{{'_Tags' | translate}}" formControlName="tags" multiple required>
                    <mat-select-trigger>
                        {{toppings.value ? toppings.value[0] : ''}}
                        <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
        (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
      </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let tag of tags" [value]="tag.tag_id">
                        <span *ngIf="_appService.currentLanguage == 'en'">{{tag.tag_en}}</span>
                        <span *ngIf="_appService.currentLanguage == 'ar'">{{tag.tag_ar}}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>{{'_Discipline' | translate}}</mat-label>

                <mat-select formControlName="discipline" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let discipline of disciplines" [value]="discipline.discipline_id">
                        <span *ngIf="_appService.currentLanguage === 'en'">{{discipline.discipline_en}}</span>
                        <span *ngIf="_appService.currentLanguage === 'ar'">{{discipline.discipline_ar}}</span>
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="discipline.hasError('required')">Please choose your university</mat-error>
            </mat-form-field>

<!--            <mat-form-field class="example-full-width">-->
<!--                <input type="text" placeholder="{{'_Discipline' | translate}}" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">-->
<!--                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">-->
<!--                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">-->
<!--                        {{option.discipline_en}}-->
<!--                    </mat-option>-->
<!--                </mat-autocomplete>-->
<!--            </mat-form-field>-->

<!--                <mat-form-field class="example-full-width" formControlName="discipline" required>-->
<!--                    <input type="text" placeholder="{{'_Discipline' | translate}}" aria-label="Number" matInput [formControl]="discipline" [matAutocomplete]="auto">-->
<!--                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">-->
<!--                        <mat-option *ngFor="let option of disciplines | async" [value]="option.discipline_id">-->
<!--                            <span *ngIf="_appService.currentLanguage === 'en'">{{option.discipline_en}}</span>-->
<!--                            <span *ngIf="_appService.currentLanguage === 'ar'">{{option.discipline_ar}}</span>-->
<!--                        </mat-option>-->
<!--                    </mat-autocomplete>-->
<!--                </mat-form-field>-->

            <div class="lang">
                <p>{{'_ResearchLanguage' | translate}} *</p>
                <mat-radio-group aria-label="Select an option" formControlName="lang" required>
                    <mat-radio-button value="1">{{'_English' | translate}}</mat-radio-button>
                    <mat-radio-button value="2">{{'_Arabic' | translate}}</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="submit">
                <button (click)="savePaper()" [disabled]="!paperForm.valid">{{'_Continue' | translate}}</button>

            </div>
        </form>
    </div>

</div>
